In [1]:
from carbon.helpers.cryptocompare import CryptoCompare

print( "{0.__name__} v{0.__VERSION__} ({0.__DATE__})".format(CryptoCompare))

CryptoCompare v1.3 (30/Jan/2023)

# Crypto Compare

https://min-api.cryptocompare.com/documentation

Note: `CryptoCompare` expects the API in an environment variable called `CCAPIKEY`. To set in bash, run

    export CCAPIKEY=<value>
    jupyter notebook
    
Alternatively you can supply the API key directly to the object (via `apikey=XXX`), but this is not recommended because of its security implications.

In [2]:
CCA = CryptoCompare(apikey=True)
try:
    CCA = CryptoCompare()
except RuntimeError as e:
    CC = CCA
    print(e)
print("[CryptoCompare] key digest", CC.keydigest[:4], CCA.keydigest[:4])

Can't find API key CCAPIKEY in environment variables.
Use `export CCAPIKEY=<value>` to set it BEFORE you launch Jupyter
API key not present. Use `export CCAPIKEY=<value>` to set it before launching Jupyter.
[CryptoCompare] key digest 0000 0000

## Rate limit

In [3]:
CC.query_ratelimit()

[query] https://min-api.cryptocompare.com/stats/rate/limit {} [0000]

{'calls_made': {'second': 1,
  'minute': 1,
  'hour': 641,
  'day': 651,
  'month': 666},
 'calls_left': {'second': 19,
  'minute': 299,
  'hour': 2359,
  'day': 6849,
  'month': 49334}}

In [4]:
CCA.query_ratelimit()

[query] https://min-api.cryptocompare.com/stats/rate/limit {} [0000]

{'calls_made': {'second': 1,
  'minute': 2,
  'hour': 642,
  'day': 652,
  'month': 667},
 'calls_left': {'second': 19,
  'minute': 298,
  'hour': 2358,
  'day': 6848,
  'month': 49333}}

## Exchanges and pairs

In [5]:
data = CC.cache_allexchanges()
data["exchanges"].keys()

dict_keys(['ABCC', 'ACX', 'Abucoins', 'AidosMarket', 'BCEX', 'BTC38', 'BTCAlpha', 'BTCBOX', 'BTCChina', 'BTCE', 'BTCExchange', 'BTCMarkets', 'BTCTurk', 'BTCXIndia', 'BTER', 'BXinth', 'Bgogo', 'Bibox', 'BigONE', 'Binance', 'Binanceje', 'Bit2C', 'BitBank', 'BitBay', 'BitFlip', 'BitGrail', 'BitMarket', 'BitMart', 'BitSquare', 'BitTrex', 'BitZ', 'BitexBook', 'Bitfinex', 'Bitforex', 'Bithumb', 'Bitinfi', 'Bitkub', 'Bitlish', 'Bitmex', 'Bitpoint', 'Bitsane', 'Bitshares', 'Bitso', 'Bitstamp', 'Blackturtle', 'Bleutrade', 'Bluebelt', 'Braziliex', 'Buda', 'CBX', 'CCCAGG', 'CCEDK', 'CCEX', 'CHBTC', 'Catex', 'Cexio', 'ChileBit', 'Codex', 'CoinBene', 'CoinCorner', 'CoinDeal', 'CoinEx', 'CoinFalcon', 'CoinHub', 'CoinJar', 'CoinPulse', 'CoinTiger', 'Coinbase', 'Coincap', 'Coincheck', 'Coinfloor', 'Coinmate', 'Coinnest', 'Coinone', 'Coinroom', 'CoinsBank', 'Coinsbit', 'Coinse', 'Coinsetter', 'Cryptagio', 'CryptoBulls', 'CryptoCarbon', 'CryptoExchangeWS', 'CryptoX', 'Cryptonit', 'Cryptopia', 'Cryptsy', 'DDEX', 'DEx', 'DSX', 'DigiFinex', 'EXRATES', 'EXX', 'EtherDelta', 'Ethermium', 'EthexIndia', 'Ethfinex', 'Everbloom', 'Exenium', 'Exmo', 'ExtStock', 'FCCE', 'FCoin', 'Foxbit', 'Gatecoin', 'Gateio', 'Gemini', 'Globitex', 'Gneiss', 'Gnosis', 'Graviex', 'HADAX', 'Hikenex', 'HitBTC', 'Huobi', 'HuobiPro', 'IDAX', 'IDEX', 'IQFinex', 'Incorex', 'IndependentReserve', 'InstantBitex', 'Ironex', 'Jubi', 'Korbit', 'Kraken', 'Kucoin', 'Kuna', 'LAToken', 'LBank', 'LakeBTC', 'Liqnet', 'Liqui', 'Liquid', 'LiveCoin', 'LocalBitcoins', 'Luno', 'Lykke', 'MercadoBitcoin', 'Minebit', 'MonetaGo', 'MtGox', 'NDAX', 'Nebula', 'Neraex', 'Nexchange', 'Nlexch', 'Novaexchange', 'Nuex', 'OKCoin', 'OKEX', 'OpenLedger', 'Ore', 'P2PB2B', 'Paymium', 'Poloniex', 'Qryptos', 'QuadrigaCX', 'Quoine', 'Remitano', 'RightBTC', 'SafeCoin', 'Simex', 'SingularityX', 'StocksExchange', 'StocksExchangeio', 'Surbitcoin', 'Switcheo', 'TDAX', 'TheRockTrading', 'Threexbit', 'Tidex', 'TokenStore', 'Tokenomy', 'TradeSatoshi', 'TrustDEX', 'TuxExchange', 'Unocoin', 'Upbit', 'VBTC', 'Vaultoro', 'Velox', 'ViaBTC', 'WEX', 'WavesDEX', 'WorldCryptoCap', 'XS2', 'Yacuna', 'Yobit', 'Yunbi', 'ZB', 'ZBG', 'Zaif', 'Zecoex', 'aax', 'aliexchange', 'alphaex', 'altilly', 'ascendex', 'ataix', 'bcbitcoin', 'beldex', 'bequant', 'betconix', 'bhex', 'biki', 'bilaxy', 'binancedex', 'binanceusa', 'bingcoins', 'bitFlyer', 'bitFlyerFX', 'bitasset', 'bitbuy', 'bitci', 'bitcoincom', 'bitfex', 'bitflyereu', 'bitflyerus', 'bithumbglobal', 'bitmax', 'bitpanda', 'bitspark', 'bkex', 'blockchaincom', 'btcXchange', 'btcmex', 'btse', 'bullish', 'bw', 'bybit', 'chainrift', 'chainx', 'chaoex', 'cobinhood', 'coinall', 'coineal', 'coinegg', 'coinfield', 'coinspro', 'coinsuper', 'coinzest', 'compound', 'coss', 'crex24', 'crosstower', 'cryptodotcom', 'cryptofacilities', 'cryptonex', 'currency', 'curve', 'darbfinance', 'dcoin', 'decoin', 'deribit', 'e55com', 'eidoo', 'equos', 'erisx', 'etoro', 'exscudo', 'fatbtc', 'ftx', 'ftxus', 'gopax', 'hbus', 'huobifutures', 'huobijapan', 'huobikorea', 'iCoinbay', 'idevex', 'indodax', 'itBit', 'lmax', 'mexc', 'nominex', 'oex', 'onederx', 'oneinch', 'pancakeswap', 'paribu', 'primexbt', 'probit', 'quickswap', 'raidofinance', 'safetrade', 'seedcx', 'sigenp2p', 'sigenpro', 'sistemkoin', 'slicex', 'smartrade', 'sushiswap', 'tchapp', 'thore', 'timex', 'tokensnet', 'tokok', 'trxmarket', 'uniswap', 'uniswapv2', 'uniswapv3', 'unnamed', 'utorg', 'valr', 'wbb', 'xbtpro', 'xcoex', 'xena', 'xtpub', 'zebitex', 'zloadr'])

In [6]:
", ".join([x for x in data["exchanges"] if data["exchanges"][x].get("isTopTier")])

'ABCC, BTCBOX, BTCMarkets, BTCTurk, Bibox, BigONE, Binance, Bit2C, BitBank, BitBay, BitMart, BitTrex, Bitfinex, Bithumb, Bitkub, Bitso, Bitstamp, CBX, Cexio, CoinCorner, CoinEx, CoinJar, Coinbase, Coincheck, Coinmate, Coinone, Coinsbit, DigiFinex, Exmo, Gateio, Gemini, HitBTC, HuobiPro, IndependentReserve, Korbit, Kraken, Kucoin, LAToken, Liquid, Luno, Lykke, NDAX, OKCoin, OKEX, P2PB2B, Paymium, TheRockTrading, Upbit, Vaultoro, ZB, ZBG, Zaif, aax, ataix, bequant, binanceusa, bitFlyer, bitbuy, bitflyereu, bitflyerus, bithumbglobal, bitpanda, blockchaincom, btse, bullish, coinfield, crosstower, cryptodotcom, currency, dcoin, decoin, eidoo, erisx, etoro, ftxus, gopax, huobijapan, huobikorea, indodax, itBit, lmax, nominex, probit, valr, zebitex'

In [7]:
", ".join([x for x in data["exchanges"] if data["exchanges"][x].get("isActive")])

'ABCC, AidosMarket, BCEX, BTCAlpha, BTCBOX, BTCExchange, BTCMarkets, BTCTurk, Bgogo, Bibox, BigONE, Binance, Binanceje, Bit2C, BitBank, BitBay, BitMart, BitSquare, BitTrex, BitZ, BitexBook, Bitfinex, Bitforex, Bithumb, Bitkub, Bitmex, Bitso, Bitstamp, Blackturtle, Bleutrade, Braziliex, Buda, CBX, CCCAGG, Catex, Cexio, CoinBene, CoinCorner, CoinDeal, CoinEx, CoinFalcon, CoinHub, CoinJar, Coinbase, Coincheck, Coinfloor, Coinmate, Coinone, Coinsbit, CryptoCarbon, DDEX, DSX, DigiFinex, EXRATES, EXX, Everbloom, Exenium, Exmo, FCoin, Gateio, Gemini, Globitex, Graviex, HADAX, Hikenex, HitBTC, HuobiPro, IDEX, IQFinex, IndependentReserve, Korbit, Kraken, Kucoin, Kuna, LAToken, LBank, Liqnet, Liquid, LiveCoin, LocalBitcoins, Luno, Lykke, MercadoBitcoin, Minebit, Nebula, Nexchange, Nlexch, Nuex, OKCoin, OKEX, P2PB2B, Paymium, Poloniex, Remitano, RightBTC, SafeCoin, SingularityX, StocksExchange, Switcheo, TheRockTrading, Tidex, TokenStore, Tokenomy, TrustDEX, Upbit, Vaultoro, WavesDEX, Yobit, ZB, ZBG, Zaif, aax, aliexchange, altilly, ascendex, ataix, bcbitcoin, beldex, bequant, betconix, bhex, biki, bilaxy, binancedex, binanceusa, bitFlyer, bitFlyerFX, bitasset, bitbuy, bitci, bitcoincom, bitfex, bitflyereu, bitflyerus, bithumbglobal, bitmax, bitpanda, bkex, blockchaincom, btcmex, btse, bullish, bw, bybit, chainrift, chainx, chaoex, coinall, coineal, coinegg, coinfield, coinspro, coinsuper, compound, crex24, crosstower, cryptodotcom, cryptofacilities, cryptonex, currency, curve, dcoin, decoin, eidoo, equos, erisx, etoro, fatbtc, ftx, ftxus, gopax, huobijapan, huobikorea, idevex, indodax, itBit, lmax, mexc, nominex, oneinch, pancakeswap, paribu, primexbt, probit, quickswap, raidofinance, safetrade, seedcx, sigenp2p, sigenpro, sistemkoin, slicex, smartrade, sushiswap, tchapp, thore, timex, tokensnet, tokok, trxmarket, uniswap, uniswapv2, uniswapv3, unnamed, utorg, valr, wbb, xbtpro, xcoex, xena, xtpub, zebitex'

In [8]:
exchange = "Coinbase"
print(data["exchanges"][exchange].keys())
", ".join(data["exchanges"][exchange]["pairs"].keys())

dict_keys(['pairs', 'isActive', 'isTopTier'])

'ETH, XRP, ORN, C98, SOL, FORTH, RNDR, JUP, 1INCH, BTRST, GLM, ERN, DESO, LIT, DASH, WCFG, NCT, MINA, FLOW, MATIC, BAND, REQ, DOGE, AST, ETHERNITY, POND, ENJ, APT, MANA, MKR, TONE, BADGER, GFI, RAI, JASMY, DYP, ETC, ENS, DIA, CGLD, CRV, MASK, ARPA, LTC, OMG, ALGO, ZEN, UPI, USTC, NKN, MTL, ZEC, BTC, UNI, ATOM, QNT, PERP, SAI, SPELL, IDEX, LRC, BNT, CRO, ALEPH, PRO, TRAC, GALA, SUPER, BOBA, ILV, ATA, ACH, POWR, KNC, DDX, QI, LOOM, PNG, POLS, METIS, GTC, CRPT, MEDIA, STORJ, BCH, CVC, GRAPH, DEXT, INJ, FIDA, AGLD, WLUNC, INDEX, XLM, POLY, SKL, SHPING, AVT, EGLD, MAGIC, MIR, NU, SHIB, SNX, LCX, ICP, EOS, CLV, GRT, STG, XYO, CELO, AXS, SUSHI, CELR, BAT, CTX, FOX, LPT, LINK, RAIREF, BOND, PRQ, CHZ, DOT, AIOZ, RLY, RARI, AUCTION, FIS, SYN, USDT, KAVA, AURORA, QSP, LQTY, ELA, FIL, FORT, USDC, UMA, ADA, NMR, TRIBE, HFT, WAMPL, NEAR, FARM, XTZ, FUNX, DAI, BAL, RLC, XCN, AMP, RAD, COMP, TRU, YFII, IOTX, STX, SYLO, COTI, TIME, ANKR, MLN, REN, MATH, ALCX, GALATA, MPL, DREP, MUSE, KRL, SAND, TRB, GMT, ASM, BLZ, GST, AAVE, USDP, WBTC, RARE, AVAX, BICO, FX, MONAV, T, OXT, GHST, YFI, LDO, VGX, COVAL, MSOL, ROSE, APE, PLU, CBETH, ZRX, SNT, LOKA, PAX, AUDIO, PUNDIX, GNO, SUKU, GAL, HBAR, PLAYD, INV, NEST, UNFI, ABT, BIT, PYR, FET, REP, WAXL, RPL, GUSD, ORCA, METI, CVX, AERGO, OGN, HOPR, 00, MDT, DAR, MUSD, DNT, SWFTC, HIGH, OOKI, MNDE, KSM, MCO2, IMX, API3, OCEAN, CTSI, GODS, ALICE, GYEN, RGT, MXC, RBN, OP, QUICK, PLA, ANT, BUSD, KEEP, AXL'

In [9]:
data["exchanges"][exchange]["isTopTier"]

True

## Coinlist

In [10]:
data = CC.cache_coinlist()
data_keys = list(data.keys())
len(data_keys)

8374

In [11]:
", ". join(data_keys[100:120])

'GUE, HAL, HBN, HUC, HVC, HYP, ICB, IFC, IXC, JBS, JKC, JUDGE, KDC, KEYC, LK7, LKY, LSD, LTB, LTCD, LTCX'

In [12]:
data["BTC"].keys()

dict_keys(['Id', 'Url', 'ImageUrl', 'ContentCreatedOn', 'Name', 'Symbol', 'CoinName', 'FullName', 'Description', 'AssetTokenStatus', 'Algorithm', 'ProofType', 'SortOrder', 'Sponsored', 'Taxonomy', 'Rating', 'IsTrading', 'TotalCoinsMined', 'CirculatingSupply', 'BlockNumber', 'NetHashesPerSecond', 'BlockReward', 'BlockTime', 'AssetLaunchDate', 'AssetWhitepaperUrl', 'AssetWebsiteUrl', 'MaxSupply', 'MktCapPenalty', 'IsUsedInDefi', 'IsUsedInNft', 'PlatformType', 'DecimalPoints', 'AlgorithmType', 'Difficulty'])

## ISO currency symbols

In [13]:
CCA.ccycodes()

'AED, AFN, ALL, AMD, ANG, AOA, ARS, AUD, AWG, AZN, BAM, BBD, BDT, BGN, BHD, BIF, BMD, BND, BOB, BOV, BRL, BSD, BTN, BWP, BYN, BZD, CAD, CDF, CHE, CHF, CHW, CLF, CLP, CNY, COP, COU, CRC, CUC, CUP, CVE, CZK, DJF, DKK, DOP, DZD, EGP, ERN, ETB, EUR, FJD, FKP, GBP, GEL, GHS, GIP, GMD, GNF, GTQ, GYD, HKD, HNL, HRK, HTG, HUF, IDR, ILS, INR, IQD, IRR, ISK, JMD, JOD, JPY, KES, KGS, KHR, KMF, KPW, KRW, KWD, KYD, KZT, LAK, LBP, LKR, LRD, LSL, LYD, MAD, MDL, MGA, MKD, MMK, MNT, MOP, MRU, MUR, MVR, MWK, MXN, MXV, MYR, MZN, NAD, NGN, NIO, NOK, NPR, NZD, OMR, PAB, PEN, PGK, PHP, PKR, PLN, PYG, QAR, RON, RSD, RUB, RWF, SAR, SBD, SCR, SDG, SEK, SGD, SHP, SLL, SOS, SRD, SSP, STN, SVC, SYP, SZL, THB, TJS, TMT, TND, TOP, TRY, TTD, TWD, TZS, UAH, UGX, USD, USN, UYI, UYU, UYW, UZS, VES, VND, VUV, WST, XAF, XAG, XAU, XCD, XDR, XOF, XPD, XPF, XPT, XSU, XUA, YER, ZAR, ZMW, ZWL'

In [14]:
CCA.ccycodes(symonly=False).head()

          Country            Name Symbol
0     AFGHANISTAN         Afghani    AFN
1   ÅLAND ISLANDS            Euro    EUR
2         ALBANIA             Lek    ALL
3         ALGERIA  Algerian Dinar    DZD
4  AMERICAN SAMOA       US Dollar    USD

## Index list

In [15]:
data = CC.cache_indexlist()
data.keys()

dict_keys(['BTCA', 'BVIN', 'BTCB', 'ETHB', 'CCBYDOT', 'CCBYSOL', 'CCBYADA', 'CCBYAVAX', 'CCBYATOM'])

In [16]:
data["ETHB"]

{'name': 'FICAS Ethereum Fund',
 'description': '',
 'quote_currency': 'CHF',
 'index_market_name': 'CCNAV',
 'index_market_underlying_name': 'CCMVDA',
 'day_close_in_seconds': 61200}

## Freqly pair (= daily, hourly, minutely pair)

### daily

In [17]:
df = CCA.query_freqlypair(freq=CCA.FREQ_DAILY, fsym="BTC", tsym="USD")
df.head()

[query] https://min-api.cryptocompare.com/data/v2/histoday {'fsym': 'BTC', 'tsym': 'USD', 'limit': 2000} [0000]

               open    close     high      low  volumefrom      volumeto
datetime
2017-08-09  3429.38  3348.79  3437.15  3251.03    97062.76  3.240587e+08
2017-08-10  3348.79  3425.67  3453.84  3322.92    71000.32  2.420245e+08
2017-08-11  3425.67  3654.37  3706.48  3409.79    97564.43  3.451355e+08
2017-08-12  3654.37  3871.62  3967.26  3611.36   123593.57  4.695323e+08
2017-08-13  3871.62  4062.60  4189.42  3847.31   158586.97  6.389175e+08

In [18]:
df = CCA.query_dailypair(fsym="BTC", tsym="USD")
df.head()

[query] https://min-api.cryptocompare.com/data/v2/histoday {'fsym': 'BTC', 'tsym': 'USD', 'limit': 2000} [0000]

               open    close     high      low  volumefrom      volumeto
datetime
2017-08-09  3429.38  3348.79  3437.15  3251.03    97062.76  3.240587e+08
2017-08-10  3348.79  3425.67  3453.84  3322.92    71000.32  2.420245e+08
2017-08-11  3425.67  3654.37  3706.48  3409.79    97564.43  3.451355e+08
2017-08-12  3654.37  3871.62  3967.26  3611.36   123593.57  4.695323e+08
2017-08-13  3871.62  4062.60  4189.42  3847.31   158586.97  6.389175e+08

### hourly

In [19]:
df = CCA.query_freqlypair(freq=CCA.FREQ_HOURLY, fsym="BTC", tsym="USD")
df.head()

[query] https://min-api.cryptocompare.com/data/v2/histohour {'fsym': 'BTC', 'tsym': 'USD', 'limit': 2000} [0000]

,open,close,high,low,volumefrom,volumeto
datetime,,,,,,
2022-11-08 02:00:00,20630.77,20454.24,20672.25,20446.05,2727.06,5.614554e+07
2022-11-08 03:00:00,20454.24,20157.76,20535.26,20125.41,10930.40,2.223944e+08
2022-11-08 04:00:00,20157.76,19651.27,20241.84,19566.09,14637.05,2.901027e+08
2022-11-08 05:00:00,19651.27,19706.90,19729.22,19372.65,10084.50,1.975765e+08
2022-11-08 06:00:00,19706.90,19790.29,19859.90,19657.52,5748.40,1.136190e+08

In [20]:
df = CCA.query_hourlypair(fsym="BTC", tsym="USD")
df.head()

[query] https://min-api.cryptocompare.com/data/v2/histohour {'fsym': 'BTC', 'tsym': 'USD', 'limit': 2000} [0000]

,open,close,high,low,volumefrom,volumeto
datetime,,,,,,
2022-11-08 02:00:00,20630.77,20454.24,20672.25,20446.05,2727.06,5.614554e+07
2022-11-08 03:00:00,20454.24,20157.76,20535.26,20125.41,10930.40,2.223944e+08
2022-11-08 04:00:00,20157.76,19651.27,20241.84,19566.09,14637.05,2.901027e+08
2022-11-08 05:00:00,19651.27,19706.90,19729.22,19372.65,10084.50,1.975765e+08
2022-11-08 06:00:00,19706.90,19790.29,19859.90,19657.52,5748.40,1.136190e+08

### minutely

In [21]:
df = CCA.query_freqlypair(freq=CCA.FREQ_MINUTELY, fsym="BTC", tsym="USD")
df.head()

[query] https://min-api.cryptocompare.com/data/v2/histominute {'fsym': 'BTC', 'tsym': 'USD', 'limit': 2000} [0000]

,open,close,high,low,volumefrom,volumeto
datetime,,,,,,
2023-01-29 01:08:00,23204.41,23209.38,23226.15,23204.41,145.28,3374142.33
2023-01-29 01:09:00,23209.38,23194.11,23211.36,23191.15,64.54,1496904.14
2023-01-29 01:10:00,23194.11,23206.57,23214.88,23194.11,40.79,946669.48
2023-01-29 01:11:00,23206.57,23201.44,23214.42,23200.66,32.26,748712.84
2023-01-29 01:12:00,23201.44,23200.28,23202.47,23192.06,55.72,1292395.02

In [22]:
df = CCA.query_minutelypair(fsym="BTC", tsym="USD")
df.head()

[query] https://min-api.cryptocompare.com/data/v2/histominute {'fsym': 'BTC', 'tsym': 'USD', 'limit': 2000} [0000]

,open,close,high,low,volumefrom,volumeto
datetime,,,,,,
2023-01-29 01:08:00,23204.41,23209.38,23226.15,23204.41,145.28,3374142.33
2023-01-29 01:09:00,23209.38,23194.11,23211.36,23191.15,64.54,1496904.14
2023-01-29 01:10:00,23194.11,23206.57,23214.88,23194.11,40.79,946669.48
2023-01-29 01:11:00,23206.57,23201.44,23214.42,23200.66,32.26,748712.84
2023-01-29 01:12:00,23201.44,23200.28,23202.47,23192.06,55.72,1292395.02

### docs

In [23]:
help(CCA.query_freqlypair)

Help on method query_freqlypair in module carbon.helpers.cryptocompare:

query_freqlypair(freq, fsym=None, tsym=None, e=None, limit=False, toTs=None, aspandas=True) method of carbon.helpers.cryptocompare.CryptoCompare instance
    endpoints = /data/v2/histoday, /data/v2/histohour, /data/v2/histominute

    :freq:     FREQ_DAILY/FD, FREQ_HOURLY/FH, or FREQ_MINUTELY/FM
    :fsym:     cryptocurrency symbol of interest
    :tsym:     currency symbol to convert into
    :e:        exchange to obtain data from
    :limit:    number of data points to return (max: 2000; False defaults to that number)
    :toTs:     returns historical data BEFORE that timestamp
               timestamp format either 1452680400 or pd.Timestamp compatible string

    https://min-api.cryptocompare.com/documentation?key=Historical&cat=dataHistoday
    https://min-api.cryptocompare.com/documentation?key=Historical&cat=dataHistohour
    https://min-api.cryptocompare.com/documentation?key=Historical&cat=dataHistominute

In [24]:
help(CCA.query_minutelypair)

Help on method query_minutelypair in module carbon.helpers.cryptocompare:

query_minutelypair(*args, **kwargs) method of carbon.helpers.cryptocompare.CryptoCompare instance
    alias for query_freqlypair(FREQ_MINUTELY, ...)

## Aggregate query

In [25]:
r = CCA.aggr_query(
    "ETC/USD, BTC/USD", 
    fields=[CCA.FIELD_OPEN, CCA.FIELD_CLOSE], 
    freq=CCA.FREQ_HOURLY)
r.keys()

[aggr_query] fields ['open', 'close']
[aggr_query] pairs (pair(tknb='ETC', tknq='USD'), pair(tknb='BTC', tknq='USD'))
[aggr_query] Querying for raw table 2
[query] https://min-api.cryptocompare.com/data/v2/histohour {'fsym': 'ETC', 'tsym': 'USD', 'limit': 2000} [0000]
[query] https://min-api.cryptocompare.com/data/v2/histohour {'fsym': 'BTC', 'tsym': 'USD', 'limit': 2000} [0000]
[aggr_query] Creating aggregate table

dict_keys(['gaggr', 'aggr', 'rawaggr', 'raw'])

In [30]:
r["rawaggr"]

                    ETC/USD                                              \
                       open  close   high    low volumefrom    volumeto
datetime
2022-11-08 02:00:00   25.16  24.60  25.24  24.59    9041.17   225652.27
2022-11-08 03:00:00   24.60  23.88  24.60  23.79   52597.40  1275225.02
2022-11-08 04:00:00   23.88  23.30  24.04  23.08   62952.51  1473108.40
2022-11-08 05:00:00   23.30  23.29  23.43  22.81   27041.87   626706.53
2022-11-08 06:00:00   23.29  23.56  23.60  23.12   12703.42   296914.38
...                     ...    ...    ...    ...        ...         ...
2023-01-30 06:00:00   22.97  22.84  22.98  22.82    3062.31    70235.51
2023-01-30 07:00:00   22.84  22.76  22.90  22.62    6948.43   157984.52
2023-01-30 08:00:00   22.76  22.52  22.82  22.49    8085.12   182706.58
2023-01-30 09:00:00   22.52  21.74  22.56  21.66   43288.00   951077.76
2023-01-30 10:00:00   21.74  21.86  21.87  21.56    7038.21   152544.56

                      BTC/USD                                           \
                         open     close      high       low volumefrom
datetime
2022-11-08 02:00:00  20630.77  20454.24  20672.25  20446.05    2727.06
2022-11-08 03:00:00  20454.24  20157.76  20535.26  20125.41   10930.40
2022-11-08 04:00:00  20157.76  19651.27  20241.84  19566.09   14637.05
2022-11-08 05:00:00  19651.27  19706.90  19729.22  19372.65   10084.50
2022-11-08 06:00:00  19706.90  19790.29  19859.90  19657.52    5748.40
...                       ...       ...       ...       ...        ...
2023-01-30 06:00:00  23728.15  23695.46  23739.12  23669.53     882.71
2023-01-30 07:00:00  23695.46  23648.93  23702.77  23609.91    1132.21
2023-01-30 08:00:00  23648.93  23553.03  23673.91  23526.09    2433.98
2023-01-30 09:00:00  23553.03  23192.57  23553.03  23146.55    7575.75
2023-01-30 10:00:00  23192.57  23288.55  23297.68  23124.28    2119.92


                         volumeto
datetime
2022-11-08 02:00:00  5.614554e+07
2022-11-08 03:00:00  2.223944e+08
2022-11-08 04:00:00  2.901027e+08
2022-11-08 05:00:00  1.975765e+08
2022-11-08 06:00:00  1.136190e+08
...                           ...
2023-01-30 06:00:00  2.092721e+07
2023-01-30 07:00:00  2.677736e+07
2023-01-30 08:00:00  5.740358e+07
2023-01-30 09:00:00  1.764945e+08
2023-01-30 10:00:00  4.922159e+07

[2001 rows x 12 columns]

In [31]:
r["raw"]["ETC/USD"]

                      open  close   high    low  volumefrom    volumeto
datetime
2022-11-08 02:00:00  25.16  24.60  25.24  24.59     9041.17   225652.27
2022-11-08 03:00:00  24.60  23.88  24.60  23.79    52597.40  1275225.02
2022-11-08 04:00:00  23.88  23.30  24.04  23.08    62952.51  1473108.40
2022-11-08 05:00:00  23.30  23.29  23.43  22.81    27041.87   626706.53
2022-11-08 06:00:00  23.29  23.56  23.60  23.12    12703.42   296914.38
...                    ...    ...    ...    ...         ...         ...
2023-01-30 06:00:00  22.97  22.84  22.98  22.82     3062.31    70235.51
2023-01-30 07:00:00  22.84  22.76  22.90  22.62     6948.43   157984.52
2023-01-30 08:00:00  22.76  22.52  22.82  22.49     8085.12   182706.58
2023-01-30 09:00:00  22.52  21.74  22.56  21.66    43288.00   951077.76
2023-01-30 10:00:00  21.74  21.86  21.87  21.56     7038.21   152544.56

[2001 rows x 6 columns]

In [27]:
r["aggr"]["close"]

                      close
                    ETC/USD   BTC/USD
datetime
2022-11-08 02:00:00   24.60  20454.24
2022-11-08 03:00:00   23.88  20157.76
2022-11-08 04:00:00   23.30  19651.27
2022-11-08 05:00:00   23.29  19706.90
2022-11-08 06:00:00   23.56  19790.29
...                     ...       ...
2023-01-30 06:00:00   22.84  23695.46
2023-01-30 07:00:00   22.76  23648.93
2023-01-30 08:00:00   22.52  23553.03
2023-01-30 09:00:00   21.74  23192.57
2023-01-30 10:00:00   21.86  23288.55

[2001 rows x 2 columns]

In [28]:
r["gaggr"]

                       open             close
                    ETC/USD   BTC/USD ETC/USD   BTC/USD
datetime
2022-11-08 02:00:00   25.16  20630.77   24.60  20454.24
2022-11-08 03:00:00   24.60  20454.24   23.88  20157.76
2022-11-08 04:00:00   23.88  20157.76   23.30  19651.27
2022-11-08 05:00:00   23.30  19651.27   23.29  19706.90
2022-11-08 06:00:00   23.29  19706.90   23.56  19790.29
...                     ...       ...     ...       ...
2023-01-30 06:00:00   22.97  23728.15   22.84  23695.46
2023-01-30 07:00:00   22.84  23695.46   22.76  23648.93
2023-01-30 08:00:00   22.76  23648.93   22.52  23553.03
2023-01-30 09:00:00   22.52  23553.03   21.74  23192.57
2023-01-30 10:00:00   21.74  23192.57   21.86  23288.55

[2001 rows x 4 columns]

In [29]:
help(CCA.aggr_query)

Help on method aggr_query in module carbon.helpers.cryptocompare:

aggr_query(pairs, fields=None, incl_raw=True, incl_raw_aggr=True, incl_grand_aggr=True, freq=None, **kwargs) method of carbon.helpers.cryptocompare.CryptoCompare instance
    gets the data for pairs from the API and converts it into tables

    :pairs:             the pairs to download, either "ETH/USD, BTC/GBP, ..." or (("ETH", "USD"), ...)
    :fields:            the fields for which to create aggredate data frames, either as comma
                        separated string, or as tuple/list
    :incl_raw:          whether to include the individual raw data frames
    :incl_raw_aggr:     whether to include the aggregate raw data frame
    :incl_grand_aggr:   whether to include a grand aggregate (with double col name)
    :freq:              the data frequency [FREQ_DAILY (default, FREQ_HOURLY, FREQ_MINUTELY]
    :kwargs:            passed through to `query_freqlypair` (eg `e`, `limit`, `toTs`)
    :returns:           dict with the results

    dict structure

    -gaggr
        - [data]
    -aggr
        -open
            - [data]
        -close
            - [data]
        ...
    -rawaggr
        - [data]
    -raw
        - "ETH/USD"
            - [data]
        ...