In [15]:
from carbon.helpers.cryptocompare import CryptoCompare

print( "{0.__name__} v{0.__VERSION__} ({0.__DATE__})".format(CryptoCompare))

CryptoCompare v1.2 (29/Jan/2023)

# Crypto Compare

https://min-api.cryptocompare.com/documentation

Note: `CryptoCompare` expects the API in an environment variable called `CCAPIKEY`. To set in bash, run

    export CCAPIKEY=<value>
    jupyter notebook
    
Alternatively you can supply the API key directly to the object (via `apikey=XXX`), but this is not recommended because of its security implications.

In [16]:
CCA = CryptoCompare(apikey=True)
try:
    CCA = CryptoCompare()
except RuntimeError as e:
    CC = CCA
    print(e)
print("[CryptoCompare] key digest", CC.keydigest[:4], CCA.keydigest[:4])

Can't find API key CCAPIKEY in environment variables.
Use `export CCAPIKEY=<value>` to set it BEFORE you launch Jupyter
API key not present. Use `export CCAPIKEY=<value>` to set it before launching Jupyter.
[CryptoCompare] key digest 0000 0000

## Rate limit

In [17]:
CC.query_ratelimit()

[query] https://min-api.cryptocompare.com/stats/rate/limit {} [0000]

{'calls_made': {'second': 1, 'minute': 1, 'hour': 41, 'day': 49, 'month': 519},
 'calls_left': {'second': 19,
  'minute': 299,
  'hour': 2959,
  'day': 7451,
  'month': 49481}}

In [18]:
CCA.query_ratelimit()

[query] https://min-api.cryptocompare.com/stats/rate/limit {} [0000]

{'calls_made': {'second': 2, 'minute': 2, 'hour': 42, 'day': 50, 'month': 520},
 'calls_left': {'second': 18,
  'minute': 298,
  'hour': 2958,
  'day': 7450,
  'month': 49480}}

## Exchanges and pairs

In [19]:
data = CC.cache_allexchanges()
data["exchanges"].keys()

dict_keys(['ABCC', 'ACX', 'Abucoins', 'AidosMarket', 'BCEX', 'BTC38', 'BTCAlpha', 'BTCBOX', 'BTCChina', 'BTCE', 'BTCExchange', 'BTCMarkets', 'BTCTurk', 'BTCXIndia', 'BTER', 'BXinth', 'Bgogo', 'Bibox', 'BigONE', 'Binance', 'Binanceje', 'Bit2C', 'BitBank', 'BitBay', 'BitFlip', 'BitGrail', 'BitMarket', 'BitMart', 'BitSquare', 'BitTrex', 'BitZ', 'BitexBook', 'Bitfinex', 'Bitforex', 'Bithumb', 'Bitinfi', 'Bitkub', 'Bitlish', 'Bitmex', 'Bitpoint', 'Bitsane', 'Bitshares', 'Bitso', 'Bitstamp', 'Blackturtle', 'Bleutrade', 'Bluebelt', 'Braziliex', 'Buda', 'CBX', 'CCCAGG', 'CCEDK', 'CCEX', 'CHBTC', 'Catex', 'Cexio', 'ChileBit', 'Codex', 'CoinBene', 'CoinCorner', 'CoinDeal', 'CoinEx', 'CoinFalcon', 'CoinHub', 'CoinJar', 'CoinPulse', 'CoinTiger', 'Coinbase', 'Coincap', 'Coincheck', 'Coinfloor', 'Coinmate', 'Coinnest', 'Coinone', 'Coinroom', 'CoinsBank', 'Coinsbit', 'Coinse', 'Coinsetter', 'Cryptagio', 'CryptoBulls', 'CryptoCarbon', 'CryptoExchangeWS', 'CryptoX', 'Cryptonit', 'Cryptopia', 'Cryptsy', 'DDEX', 'DEx', 'DSX', 'DigiFinex', 'EXRATES', 'EXX', 'EtherDelta', 'Ethermium', 'EthexIndia', 'Ethfinex', 'Everbloom', 'Exenium', 'Exmo', 'ExtStock', 'FCCE', 'FCoin', 'Foxbit', 'Gatecoin', 'Gateio', 'Gemini', 'Globitex', 'Gneiss', 'Gnosis', 'Graviex', 'HADAX', 'Hikenex', 'HitBTC', 'Huobi', 'HuobiPro', 'IDAX', 'IDEX', 'IQFinex', 'Incorex', 'IndependentReserve', 'InstantBitex', 'Ironex', 'Jubi', 'Korbit', 'Kraken', 'Kucoin', 'Kuna', 'LAToken', 'LBank', 'LakeBTC', 'Liqnet', 'Liqui', 'Liquid', 'LiveCoin', 'LocalBitcoins', 'Luno', 'Lykke', 'MercadoBitcoin', 'Minebit', 'MonetaGo', 'MtGox', 'NDAX', 'Nebula', 'Neraex', 'Nexchange', 'Nlexch', 'Novaexchange', 'Nuex', 'OKCoin', 'OKEX', 'OpenLedger', 'Ore', 'P2PB2B', 'Paymium', 'Poloniex', 'Qryptos', 'QuadrigaCX', 'Quoine', 'Remitano', 'RightBTC', 'SafeCoin', 'Simex', 'SingularityX', 'StocksExchange', 'StocksExchangeio', 'Surbitcoin', 'Switcheo', 'TDAX', 'TheRockTrading', 'Threexbit', 'Tidex', 'TokenStore', 'Tokenomy', 'TradeSatoshi', 'TrustDEX', 'TuxExchange', 'Unocoin', 'Upbit', 'VBTC', 'Vaultoro', 'Velox', 'ViaBTC', 'WEX', 'WavesDEX', 'WorldCryptoCap', 'XS2', 'Yacuna', 'Yobit', 'Yunbi', 'ZB', 'ZBG', 'Zaif', 'Zecoex', 'aax', 'aliexchange', 'alphaex', 'altilly', 'ascendex', 'ataix', 'bcbitcoin', 'beldex', 'bequant', 'betconix', 'bhex', 'biki', 'bilaxy', 'binancedex', 'binanceusa', 'bingcoins', 'bitFlyer', 'bitFlyerFX', 'bitasset', 'bitbuy', 'bitci', 'bitcoincom', 'bitfex', 'bitflyereu', 'bitflyerus', 'bithumbglobal', 'bitmax', 'bitpanda', 'bitspark', 'bkex', 'blockchaincom', 'btcXchange', 'btcmex', 'btse', 'bullish', 'bw', 'bybit', 'chainrift', 'chainx', 'chaoex', 'cobinhood', 'coinall', 'coineal', 'coinegg', 'coinfield', 'coinspro', 'coinsuper', 'coinzest', 'compound', 'coss', 'crex24', 'crosstower', 'cryptodotcom', 'cryptofacilities', 'cryptonex', 'currency', 'curve', 'darbfinance', 'dcoin', 'decoin', 'deribit', 'e55com', 'eidoo', 'equos', 'erisx', 'etoro', 'exscudo', 'fatbtc', 'ftx', 'ftxus', 'gopax', 'hbus', 'huobifutures', 'huobijapan', 'huobikorea', 'iCoinbay', 'idevex', 'indodax', 'itBit', 'lmax', 'mexc', 'nominex', 'oex', 'onederx', 'oneinch', 'pancakeswap', 'paribu', 'primexbt', 'probit', 'quickswap', 'raidofinance', 'safetrade', 'seedcx', 'sigenp2p', 'sigenpro', 'sistemkoin', 'slicex', 'smartrade', 'sushiswap', 'tchapp', 'thore', 'timex', 'tokensnet', 'tokok', 'trxmarket', 'uniswap', 'uniswapv2', 'uniswapv3', 'unnamed', 'utorg', 'valr', 'wbb', 'xbtpro', 'xcoex', 'xena', 'xtpub', 'zebitex', 'zloadr'])

In [20]:
", ".join([x for x in data["exchanges"] if data["exchanges"][x].get("isTopTier")])

'ABCC, BTCBOX, BTCMarkets, BTCTurk, Bibox, BigONE, Binance, Bit2C, BitBank, BitBay, BitMart, BitTrex, Bitfinex, Bithumb, Bitkub, Bitso, Bitstamp, CBX, Cexio, CoinCorner, CoinEx, CoinJar, Coinbase, Coincheck, Coinmate, Coinone, Coinsbit, DigiFinex, Exmo, Gateio, Gemini, HitBTC, HuobiPro, IndependentReserve, Korbit, Kraken, Kucoin, LAToken, Liquid, Luno, Lykke, NDAX, OKCoin, OKEX, P2PB2B, Paymium, TheRockTrading, Upbit, Vaultoro, ZB, ZBG, Zaif, aax, ataix, bequant, binanceusa, bitFlyer, bitbuy, bitflyereu, bitflyerus, bithumbglobal, bitpanda, blockchaincom, btse, bullish, coinfield, crosstower, cryptodotcom, currency, dcoin, decoin, eidoo, erisx, etoro, ftxus, gopax, huobijapan, huobikorea, indodax, itBit, lmax, nominex, probit, valr, zebitex'

In [21]:
", ".join([x for x in data["exchanges"] if data["exchanges"][x].get("isActive")])

'ABCC, AidosMarket, BCEX, BTCAlpha, BTCBOX, BTCExchange, BTCMarkets, BTCTurk, Bgogo, Bibox, BigONE, Binance, Binanceje, Bit2C, BitBank, BitBay, BitMart, BitSquare, BitTrex, BitZ, BitexBook, Bitfinex, Bitforex, Bithumb, Bitkub, Bitmex, Bitso, Bitstamp, Blackturtle, Bleutrade, Braziliex, Buda, CBX, CCCAGG, Catex, Cexio, CoinBene, CoinCorner, CoinDeal, CoinEx, CoinFalcon, CoinHub, CoinJar, Coinbase, Coincheck, Coinfloor, Coinmate, Coinone, Coinsbit, CryptoCarbon, DDEX, DSX, DigiFinex, EXRATES, EXX, Everbloom, Exenium, Exmo, FCoin, Gateio, Gemini, Globitex, Graviex, HADAX, Hikenex, HitBTC, HuobiPro, IDEX, IQFinex, IndependentReserve, Korbit, Kraken, Kucoin, Kuna, LAToken, LBank, Liqnet, Liquid, LiveCoin, LocalBitcoins, Luno, Lykke, MercadoBitcoin, Minebit, Nebula, Nexchange, Nlexch, Nuex, OKCoin, OKEX, P2PB2B, Paymium, Poloniex, Remitano, RightBTC, SafeCoin, SingularityX, StocksExchange, Switcheo, TheRockTrading, Tidex, TokenStore, Tokenomy, TrustDEX, Upbit, Vaultoro, WavesDEX, Yobit, ZB, ZBG, Zaif, aax, aliexchange, altilly, ascendex, ataix, bcbitcoin, beldex, bequant, betconix, bhex, biki, bilaxy, binancedex, binanceusa, bitFlyer, bitFlyerFX, bitasset, bitbuy, bitci, bitcoincom, bitfex, bitflyereu, bitflyerus, bithumbglobal, bitmax, bitpanda, bkex, blockchaincom, btcmex, btse, bullish, bw, bybit, chainrift, chainx, chaoex, coinall, coineal, coinegg, coinfield, coinspro, coinsuper, compound, crex24, crosstower, cryptodotcom, cryptofacilities, cryptonex, currency, curve, dcoin, decoin, eidoo, equos, erisx, etoro, fatbtc, ftx, ftxus, gopax, huobijapan, huobikorea, idevex, indodax, itBit, lmax, mexc, nominex, oneinch, pancakeswap, paribu, primexbt, probit, quickswap, raidofinance, safetrade, seedcx, sigenp2p, sigenpro, sistemkoin, slicex, smartrade, sushiswap, tchapp, thore, timex, tokensnet, tokok, trxmarket, uniswap, uniswapv2, uniswapv3, unnamed, utorg, valr, wbb, xbtpro, xcoex, xena, xtpub, zebitex'

In [22]:
exchange = "Coinbase"
print(data["exchanges"][exchange].keys())
", ".join(data["exchanges"][exchange]["pairs"].keys())

dict_keys(['pairs', 'isActive', 'isTopTier'])

'ETH, XRP, ORN, C98, SOL, FORTH, RNDR, JUP, 1INCH, BTRST, GLM, ERN, DESO, LIT, DASH, WCFG, NCT, MINA, FLOW, MATIC, BAND, REQ, DOGE, AST, ETHERNITY, POND, ENJ, APT, MANA, MKR, TONE, BADGER, GFI, RAI, JASMY, DYP, ETC, ENS, DIA, CGLD, CRV, MASK, ARPA, LTC, OMG, ALGO, ZEN, UPI, USTC, NKN, MTL, ZEC, BTC, UNI, ATOM, QNT, PERP, SAI, SPELL, IDEX, LRC, BNT, CRO, ALEPH, PRO, TRAC, GALA, SUPER, BOBA, ILV, ATA, ACH, POWR, KNC, DDX, QI, LOOM, PNG, POLS, METIS, GTC, CRPT, MEDIA, STORJ, BCH, CVC, GRAPH, DEXT, INJ, FIDA, AGLD, WLUNC, INDEX, XLM, POLY, SKL, SHPING, AVT, EGLD, MAGIC, MIR, NU, SHIB, SNX, LCX, ICP, EOS, CLV, GRT, STG, XYO, CELO, AXS, SUSHI, CELR, BAT, CTX, FOX, LPT, LINK, RAIREF, BOND, PRQ, CHZ, DOT, AIOZ, RLY, RARI, AUCTION, FIS, SYN, USDT, KAVA, AURORA, QSP, LQTY, ELA, FIL, FORT, USDC, UMA, ADA, NMR, TRIBE, HFT, WAMPL, NEAR, FARM, XTZ, FUNX, DAI, BAL, RLC, XCN, AMP, RAD, COMP, TRU, YFII, IOTX, STX, SYLO, COTI, TIME, ANKR, MLN, REN, MATH, ALCX, GALATA, MPL, DREP, MUSE, KRL, SAND, TRB, GMT, ASM, BLZ, GST, AAVE, USDP, WBTC, RARE, AVAX, BICO, FX, MONAV, T, OXT, GHST, YFI, LDO, VGX, COVAL, MSOL, ROSE, APE, PLU, CBETH, ZRX, SNT, LOKA, PAX, AUDIO, PUNDIX, GNO, SUKU, GAL, HBAR, PLAYD, INV, NEST, UNFI, ABT, BIT, PYR, FET, REP, WAXL, RPL, GUSD, ORCA, METI, CVX, AERGO, OGN, HOPR, 00, MDT, DAR, MUSD, DNT, SWFTC, HIGH, OOKI, MNDE, KSM, MCO2, IMX, API3, OCEAN, CTSI, GODS, ALICE, GYEN, RGT, MXC, RBN, OP, QUICK, PLA, ANT, BUSD, KEEP, AXL'

In [23]:
data["exchanges"][exchange]["isTopTier"]

True

## Coinlist

In [24]:
data = CC.cache_coinlist()
data_keys = list(data.keys())
len(data_keys)

8374

In [25]:
", ". join(data_keys[100:120])

'GUE, HAL, HBN, HUC, HVC, HYP, ICB, IFC, IXC, JBS, JKC, JUDGE, KDC, KEYC, LK7, LKY, LSD, LTB, LTCD, LTCX'

In [26]:
data["BTC"].keys()

dict_keys(['Id', 'Url', 'ImageUrl', 'ContentCreatedOn', 'Name', 'Symbol', 'CoinName', 'FullName', 'Description', 'AssetTokenStatus', 'Algorithm', 'ProofType', 'SortOrder', 'Sponsored', 'Taxonomy', 'Rating', 'IsTrading', 'TotalCoinsMined', 'CirculatingSupply', 'BlockNumber', 'NetHashesPerSecond', 'BlockReward', 'BlockTime', 'AssetLaunchDate', 'AssetWhitepaperUrl', 'AssetWebsiteUrl', 'MaxSupply', 'MktCapPenalty', 'IsUsedInDefi', 'IsUsedInNft', 'PlatformType', 'DecimalPoints', 'AlgorithmType', 'Difficulty'])

## ISO currency symbols

In [40]:
CCA.ccycodes()

'AED, AFN, ALL, AMD, ANG, AOA, ARS, AUD, AWG, AZN, BAM, BBD, BDT, BGN, BHD, BIF, BMD, BND, BOB, BOV, BRL, BSD, BTN, BWP, BYN, BZD, CAD, CDF, CHE, CHF, CHW, CLF, CLP, CNY, COP, COU, CRC, CUC, CUP, CVE, CZK, DJF, DKK, DOP, DZD, EGP, ERN, ETB, EUR, FJD, FKP, GBP, GEL, GHS, GIP, GMD, GNF, GTQ, GYD, HKD, HNL, HRK, HTG, HUF, IDR, ILS, INR, IQD, IRR, ISK, JMD, JOD, JPY, KES, KGS, KHR, KMF, KPW, KRW, KWD, KYD, KZT, LAK, LBP, LKR, LRD, LSL, LYD, MAD, MDL, MGA, MKD, MMK, MNT, MOP, MRU, MUR, MVR, MWK, MXN, MXV, MYR, MZN, NAD, NGN, NIO, NOK, NPR, NZD, OMR, PAB, PEN, PGK, PHP, PKR, PLN, PYG, QAR, RON, RSD, RUB, RWF, SAR, SBD, SCR, SDG, SEK, SGD, SHP, SLL, SOS, SRD, SSP, STN, SVC, SYP, SZL, THB, TJS, TMT, TND, TOP, TRY, TTD, TWD, TZS, UAH, UGX, USD, USN, UYI, UYU, UYW, UZS, VES, VND, VUV, WST, XAF, XAG, XAU, XCD, XDR, XOF, XPD, XPF, XPT, XSU, XUA, YER, ZAR, ZMW, ZWL'

In [28]:
CCA.ccycodes(symonly=False).head()

          Country            Name Symbol
0     AFGHANISTAN         Afghani    AFN
1   ÅLAND ISLANDS            Euro    EUR
2         ALBANIA             Lek    ALL
3         ALGERIA  Algerian Dinar    DZD
4  AMERICAN SAMOA       US Dollar    USD

## Index list

In [29]:
data = CC.cache_indexlist()
data.keys()

dict_keys(['BTCA', 'BVIN', 'BTCB', 'ETHB', 'CCBYDOT', 'CCBYSOL', 'CCBYADA', 'CCBYAVAX', 'CCBYATOM'])

In [30]:
data["ETHB"]

{'name': 'FICAS Ethereum Fund',
 'description': '',
 'quote_currency': 'CHF',
 'index_market_name': 'CCNAV',
 'index_market_underlying_name': 'CCMVDA',
 'day_close_in_seconds': 61200}

## Freqly pair (= daily, hourly, minutely pair)

### daily

In [32]:
df = CCA.query_freqlypair(freq=CCA.FREQ_DAILY, fsym="BTC", tsym="USD")
df.head()

[query] https://min-api.cryptocompare.com/data/v2/histoday {'fsym': 'BTC', 'tsym': 'USD', 'limit': 2000} [0000]

               open    close     high      low  volumefrom      volumeto
datetime
2017-08-08  3401.91  3429.38  3494.87  3357.15   106940.67  3.661694e+08
2017-08-09  3429.38  3348.79  3437.15  3251.03    97062.76  3.240587e+08
2017-08-10  3348.79  3425.67  3453.84  3322.92    71000.32  2.420245e+08
2017-08-11  3425.67  3654.37  3706.48  3409.79    97564.43  3.451355e+08
2017-08-12  3654.37  3871.62  3967.26  3611.36   123593.57  4.695323e+08

In [33]:
df = CCA.query_dailypair(fsym="BTC", tsym="USD")
df.head()

[query] https://min-api.cryptocompare.com/data/v2/histoday {'fsym': 'BTC', 'tsym': 'USD', 'limit': 2000} [0000]

               open    close     high      low  volumefrom      volumeto
datetime
2017-08-08  3401.91  3429.38  3494.87  3357.15   106940.67  3.661694e+08
2017-08-09  3429.38  3348.79  3437.15  3251.03    97062.76  3.240587e+08
2017-08-10  3348.79  3425.67  3453.84  3322.92    71000.32  2.420245e+08
2017-08-11  3425.67  3654.37  3706.48  3409.79    97564.43  3.451355e+08
2017-08-12  3654.37  3871.62  3967.26  3611.36   123593.57  4.695323e+08

### hourly

In [34]:
df = CCA.query_freqlypair(freq=CCA.FREQ_HOURLY, fsym="BTC", tsym="USD")
df.head()

[query] https://min-api.cryptocompare.com/data/v2/histohour {'fsym': 'BTC', 'tsym': 'USD', 'limit': 2000} [0000]

,open,close,high,low,volumefrom,volumeto
datetime,,,,,,
2022-11-07 09:00:00,20715.67,20682.69,20754.23,20681.85,1905.00,39486516.28
2022-11-07 10:00:00,20682.69,20757.47,20806.99,20681.15,2341.66,48612361.88
2022-11-07 11:00:00,20757.47,20729.76,20779.54,20725.01,1464.39,30387963.84
2022-11-07 12:00:00,20729.76,20761.69,20769.79,20694.72,2386.06,49455325.22
2022-11-07 13:00:00,20761.69,20725.71,20795.68,20701.58,2724.06,56501406.48

In [35]:
df = CCA.query_hourlypair(fsym="BTC", tsym="USD")
df.head()

[query] https://min-api.cryptocompare.com/data/v2/histohour {'fsym': 'BTC', 'tsym': 'USD', 'limit': 2000} [0000]

,open,close,high,low,volumefrom,volumeto
datetime,,,,,,
2022-11-07 09:00:00,20715.67,20682.69,20754.23,20681.85,1905.00,39486516.28
2022-11-07 10:00:00,20682.69,20757.47,20806.99,20681.15,2341.66,48612361.88
2022-11-07 11:00:00,20757.47,20729.76,20779.54,20725.01,1464.39,30387963.84
2022-11-07 12:00:00,20729.76,20761.69,20769.79,20694.72,2386.06,49455325.22
2022-11-07 13:00:00,20761.69,20725.71,20795.68,20701.58,2724.06,56501406.48

### minutely

In [36]:
df = CCA.query_freqlypair(freq=CCA.FREQ_MINUTELY, fsym="BTC", tsym="USD")
df.head()

[query] https://min-api.cryptocompare.com/data/v2/histominute {'fsym': 'BTC', 'tsym': 'USD', 'limit': 2000} [0000]

,open,close,high,low,volumefrom,volumeto
datetime,,,,,,
2023-01-28 08:03:00,22990.61,22986.87,22990.61,22986.19,6.847,157392.09
2023-01-28 08:04:00,22986.87,22992.36,22993.92,22983.79,16.150,371281.53
2023-01-28 08:05:00,22992.36,22997.47,22998.31,22992.36,11.310,260104.08
2023-01-28 08:06:00,22997.47,23003.07,23003.60,22996.59,6.697,154056.55
2023-01-28 08:07:00,23003.07,23005.72,23006.97,23001.85,11.680,268795.39

In [37]:
df = CCA.query_minutelypair(fsym="BTC", tsym="USD")
df.head()

[query] https://min-api.cryptocompare.com/data/v2/histominute {'fsym': 'BTC', 'tsym': 'USD', 'limit': 2000} [0000]

,open,close,high,low,volumefrom,volumeto
datetime,,,,,,
2023-01-28 08:03:00,22990.61,22986.87,22990.61,22986.19,6.847,157392.09
2023-01-28 08:04:00,22986.87,22992.36,22993.92,22983.79,16.150,371281.53
2023-01-28 08:05:00,22992.36,22997.47,22998.31,22992.36,11.310,260104.08
2023-01-28 08:06:00,22997.47,23003.07,23003.60,22996.59,6.697,154056.55
2023-01-28 08:07:00,23003.07,23005.72,23006.97,23001.85,11.680,268795.39

### docs

In [39]:
help(CCA.query_freqlypair)

Help on method query_freqlypair in module carbon.helpers.cryptocompare:

query_freqlypair(freq, fsym=None, tsym=None, e=None, limit=False, toTs=None, aspandas=True) method of carbon.helpers.cryptocompare.CryptoCompare instance
    endpoints = /data/v2/histoday, /data/v2/histohour, /data/v2/histominute

    :freq:     FREQ_DAILY, FREQ_HOURLY, or FREQ_MINUTELY
    :fsym:     cryptocurrency symbol of interest
    :tsym:     currency symbol to convert into
    :e:        exchange to obtain data from
    :limit:    number of data points to return (max: 2000; False defaults to that number)
    :toTs:     returns historical data BEFORE that timestamp
               timestamp format either 1452680400 or pd.Timestamp compatible string

    https://min-api.cryptocompare.com/documentation?key=Historical&cat=dataHistoday
    https://min-api.cryptocompare.com/documentation?key=Historical&cat=dataHistohour
    https://min-api.cryptocompare.com/documentation?key=Historical&cat=dataHistominute

In [38]:
help(CCA.query_minutelypair)

Help on method query_minutelypair in module carbon.helpers.cryptocompare:

query_minutelypair(*args, **kwargs) method of carbon.helpers.cryptocompare.CryptoCompare instance
    alias for query_freqlypair(FREQ_MINUTELY, ...)