<p align="left">
<img width="50%" src="https://drive.google.com/uc?export=view&id=10y3NKbbk7yt7cZDMszMt04g6NquTEa4p" alt="Carbon Logo" />
</p>

# Carbon Simulator - Example

In [1]:
from carbon import CarbonSimulatorUI

Set up a simulator instance, with default pair ETHUSDC

In [2]:
Sim = CarbonSimulatorUI(pair="ETHUSDC")

Add a strategy. This strategy is initially seeded with 10 ETH
and 10000 USDC. It will selling ETH between 2000-2500 USDC per ETH,
making the received USDC available for sale. It will also be buying ETH 
between 1000-750 USDC per ETH.

In [3]:
Sim.add_strategy("ETH", 10, 2000, 2500, 10000, 1000, 750)

{'success': True,
 'orders':    id     pair tkn_name         y_int             y y_unit      p_start  \
 0   0  ETHUSDC      ETH     10.000000     10.000000    ETH  2000.000000
 1   1  ETHUSDC     USDC  10000.000000  10000.000000   USDC  1000.000000

          p_end        p_unit  linked_to_id
 0  2500.000000  USDC per ETH             1
 1   750.000000  USDC per ETH             0  }

We can look at this order by examining the simular state

In [4]:
Sim.state()["orders"]

,id,pair,tkn_name,y_int,y,y_unit,p_start,p_end,p_unit,linked_to_id
0,0,ETHUSDC,ETH,10.000000,10.000000,ETH,2000.000000,2500.000000,USDC per ETH,1
1,1,ETHUSDC,USDC,10000.000000,10000.000000,USDC,1000.000000,750.000000,USDC per ETH,0

Someone is now trading against the pool, BUYING 1 ETH.
The price will be driven by the 2000-2500 range.

In [5]:
Sim.trader_buys("ETH", 1)

{'success': True,
 'trades':    uid  id subid                          note   aggr  exec limitfail  amt1  \
 0  0.0   0     0                      route #0  False  True      None   1.0
 0    0   0     A  AMM sells 1ETH buys 2021USDC   True  True      None   1.0

   tkn1         amt2  tkn2     pair routeix  nroutes        price        p_unit
 0  ETH  2021.339853  USDC  ETHUSDC       0        1  2021.339853  USDC per ETH
 0  ETH  2021.339853  USDC  ETHUSDC     [0]        1  2021.339853  USDC per ETH  }

We see that that 1 ETH disappeared from the ETH curve,
and reappeared as USDC on the other curve

In [6]:
Sim.state()["orders"]

,id,pair,tkn_name,y_int,y,y_unit,p_start,p_end,p_unit,linked_to_id
0,0,ETHUSDC,ETH,10.000000,9.000000,ETH,2000.000000,2500.000000,USDC per ETH,1
1,1,ETHUSDC,USDC,12021.339853,12021.339853,USDC,1000.000000,750.000000,USDC per ETH,0

Someone is trading against the pool, SELLING 1 ETH
the price will be driven by the 1000-750 range

In [7]:
Sim.trader_sells("ETH", 1)

{'success': True,
 'trades':    uid  id subid                         note   aggr  exec limitfail  \
 0  1.0   1     0                     route #1  False  True      None
 0    1   1     A  AMM sells 989USDC buys 1ETH   True  True      None

          amt1  tkn1  amt2 tkn2     pair routeix  nroutes       price  \
 0  988.978105  USDC   1.0  ETH  ETHUSDC       1        1  988.978105
 0  988.978105  USDC   1.0  ETH  ETHUSDC     [1]        1  988.978105

          p_unit
 0  USDC per ETH
 0  USDC per ETH  }

Now the ETH curve is where it was at 10 ETH, but we have taken
profits of about USD 2021 on the USDC account.

In [8]:
Sim.state()["orders"]

,id,pair,tkn_name,y_int,y,y_unit,p_start,p_end,p_unit,linked_to_id
0,0,ETHUSDC,ETH,10.000000,10.000000,ETH,2000.000000,2500.000000,USDC per ETH,1
1,1,ETHUSDC,USDC,12021.339853,11032.361748,USDC,1000.000000,750.000000,USDC per ETH,0