<p align="left">
<img width="50%" src="https://drive.google.com/uc?export=view&id=10y3NKbbk7yt7cZDMszMt04g6NquTEa4p" alt="Carbon Logo" />
</p>

# Carbon Simulator - Litepaper Examples

Those are the examples from the [Litepaper][lp] "Use Cases" section, presented very concisely. Please see the book `CarbonSim-Examples.ipynb` for a longer discussion, more technical explanations, and additional examples.

[lp]:https://carbondefi.xyz/r/litepaper

In [1]:
from carbon import CarbonSimulatorUI

## LP Example: Limit Order

**Bob creates a strategy where he buys ETH when the price goes to 1500 USDC. He is willing to spend 5000 USDC for this. He would like to buy at this specific price only.**

In [2]:
Sim = CarbonSimulatorUI(pair="ETHUSDC")

In [3]:
Sim.add_strategy("ETH", 0, 10000000, 10000000, 10000, 1500, 1500)["orders"]

,id,pair,tkn_name,y_int,y,y_unit,p_start,p_end,p_unit,linked_to_id
0,0,ETHUSDC,ETH,0.000000,0.000000,ETH,10000000.000000,10000000.000000,USDC per ETH,1
1,1,ETHUSDC,USDC,10000.000000,10000.000000,USDC,1500.000000,1500.000000,USDC per ETH,0

The market is attempting to pass the following orders against it. The last one fails because there is not enough USDC left.

In [4]:
for size in [2,1.4,3,0.5]:
    result = Sim.trader_sells("ETH", size)
result

{'success': False,
 'error': 'Insufficient liquidity across all user positions to support this trade.',
 'exception': AssertionError('Insufficient liquidity across all user positions to support this trade.')}

In [5]:
Sim.state()["trades"].query("aggr==True")

,uid,id,subid,note,aggr,exec,limitfail,amt1,tkn1,amt2,tkn2,pair,routeix,nroutes,price,p_unit
0,0,0,A,AMM sells 3000USDC buys 2ETH,True,True,None,3000.0,USDC,2.0,ETH,ETHUSDC,[1],1,1500.0,USDC per ETH
0,1,1,A,AMM sells 2100USDC buys 1ETH,True,True,None,2100.0,USDC,1.4,ETH,ETHUSDC,[1],1,1500.0,USDC per ETH
0,2,2,A,AMM sells 4500USDC buys 3ETH,True,True,None,4500.0,USDC,3.0,ETH,ETHUSDC,[1],1,1500.0,USDC per ETH

After those trades, Bob purchased 6.4 ETH. This should have cost him USDC 9600

In [6]:
print(6.4*1500)
Sim.state()["orders"].query("y_unit=='ETH'")["y"]

9600.0

0    6.400000
Name: y, dtype: object

We confirm that: Bob as 400 USDC left from the initial 10000

In [7]:
print(10000-6.4*1500)
Sim.state()["orders"].query("y_unit=='USDC'")["y"]

400.0

1    400.000000
Name: y, dtype: object

## LP Example: "Buy-Low Sell-High" Strategy

**Alice creates a strategy where she buys ETH as the price goes between 1500 and 1600 USDC. She is willing to spend 5000 USDC for this. She also wants to sell her acquired ETH when the price goes from 2000 to 2500 USDC.**

In [8]:
Sim = CarbonSimulatorUI(pair="ETHUSDC")

In [9]:
Sim.add_strategy("ETH", 0, 2000, 2500, 5000, 1600, 1500)["orders"]

,id,pair,tkn_name,y_int,y,y_unit,p_start,p_end,p_unit,linked_to_id
0,0,ETHUSDC,ETH,0.000000,0.000000,ETH,2000.000000,2500.000000,USDC per ETH,1
1,1,ETHUSDC,USDC,5000.000000,5000.000000,USDC,1600.000000,1500.000000,USDC per ETH,0

The market is attempting to pass the following orders against it. The last one fails because there is not enough USDC left.

In [10]:
for size in [1,1,1,1]:
    result = Sim.trader_sells("ETH", size)
result

{'success': False,
 'error': 'Insufficient liquidity across all user positions to support this trade.',
 'exception': AssertionError('Insufficient liquidity across all user positions to support this trade.')}

In [11]:
Sim.state()["trades"].query("aggr==True")

,uid,id,subid,note,aggr,exec,limitfail,amt1,tkn1,amt2,tkn2,pair,routeix,nroutes,price,p_unit
0,0,0,A,AMM sells 1584USDC buys 1ETH,True,True,None,1583.905411,USDC,1.0,ETH,ETHUSDC,[1],1,1583.905411,USDC per ETH
0,1,1,A,AMM sells 1552USDC buys 1ETH,True,True,None,1552.357373,USDC,1.0,ETH,ETHUSDC,[1],1,1552.357373,USDC per ETH
0,2,2,A,AMM sells 1522USDC buys 1ETH,True,True,None,1521.742595,USDC,1.0,ETH,ETHUSDC,[1],1,1521.742595,USDC per ETH

After those trades, Alice has 3 ETH, and 341 USDC left.

In [12]:
Sim.state()["orders"][['y', 'y_unit']]

            y y_unit
0    3.000000    ETH
1  341.994621   USDC

Then the marker turns, and it buys ETH at the price the Alice is willing to sell it

In [13]:
for size in [1,1,1,1]:
    result = Sim.trader_buys("ETH", size)
result

{'success': False,
 'error': 'token ETH has no non-empty liquidity positions',
 'exception': ValueError('token ETH has no non-empty liquidity positions')}

In [14]:
Sim.state()["trades"].query("aggr==True").query("tkn1=='ETH'")

,uid,id,subid,note,aggr,exec,limitfail,amt1,tkn1,amt2,tkn2,pair,routeix,nroutes,price,p_unit
0,3,3,A,AMM sells 1ETH buys 2073USDC,True,True,None,1.0,ETH,2072.949017,USDC,ETHUSDC,[0],1,2072.949017,USDC per ETH
0,4,4,A,AMM sells 1ETH buys 2230USDC,True,True,None,1.0,ETH,2229.893067,USDC,ETHUSDC,[0],1,2229.893067,USDC per ETH
0,5,5,A,AMM sells 1ETH buys 2405USDC,True,True,None,1.0,ETH,2405.361849,USDC,ETHUSDC,[0],1,2405.361849,USDC per ETH

At the end, Alice has 7050 USDC, against a starting value of 5000.

In [15]:
Sim.state()["orders"][['y', 'y_unit']]

             y y_unit
0     0.000000    ETH
1  7050.198554   USDC

## LP Example: "Average-In" Order

**Jane creates a strategy to buy ETH between 1500 and 1600 USDC. She is willing to spend 5000 USDC for this.**

Note: this is simply Alice's strategy without the sell part.

In [16]:
Sim = CarbonSimulatorUI(pair="ETHUSDC")

In [17]:
Sim.add_strategy("ETH", 0, 1000000, 1000000, 5000, 1600, 1500)["orders"]

,id,pair,tkn_name,y_int,y,y_unit,p_start,p_end,p_unit,linked_to_id
0,0,ETHUSDC,ETH,0.000000,0.000000,ETH,1000000.000000,1000000.000000,USDC per ETH,1
1,1,ETHUSDC,USDC,5000.000000,5000.000000,USDC,1600.000000,1500.000000,USDC per ETH,0

The market is attempting to pass the following orders against it. The last one fails because there is not enough USDC left.

In [18]:
for size in [1,1,1,340/1500,1]:
    result = Sim.trader_sells("ETH", size)
result

{'success': False,
 'error': 'Insufficient liquidity across all user positions to support this trade.',
 'exception': AssertionError('Insufficient liquidity across all user positions to support this trade.')}

In [19]:
Sim.state()["trades"].query("aggr==True")

,uid,id,subid,note,aggr,exec,limitfail,amt1,tkn1,amt2,tkn2,pair,routeix,nroutes,price,p_unit
0,0,0,A,AMM sells 1584USDC buys 1ETH,True,True,None,1583.905411,USDC,1.000000,ETH,ETHUSDC,[1],1,1583.905411,USDC per ETH
0,1,1,A,AMM sells 1552USDC buys 1ETH,True,True,None,1552.357373,USDC,1.000000,ETH,ETHUSDC,[1],1,1552.357373,USDC per ETH
0,2,2,A,AMM sells 1522USDC buys 1ETH,True,True,None,1521.742595,USDC,1.000000,ETH,ETHUSDC,[1],1,1521.742595,USDC per ETH
0,3,3,A,AMM sells 341USDC buys 0ETH,True,True,None,340.765429,USDC,0.226667,ETH,ETHUSDC,[1],1,1503.376892,USDC per ETH

After those trades, Jane has purchase 3.2 ETH, and she has 1.2 USDC left. She bought at an average price of 1549.

In [20]:
o = Sim.state()["orders"][['y', 'y_unit']]
print((5000 - o.iloc[0]['y'])/ o.iloc[0]['y'])
o

1548.586616778242068363422690

          y y_unit
0  3.226667    ETH
1  1.229192   USDC

## LP Example: Token Distribution Order

**Token project XYZ creates a strategy to sell 1 million units of its XYZ token in the price range of 0.50-2.00. The project would like to “back-load” the distribution process, such that half of the tokens are sold between 1.50-2.00. In total, the project wishes to receive a minimum of 1.37m in cash for its tokens.**

In [21]:
Sim = CarbonSimulatorUI(pair="XYZUSDC")

In [22]:
Sim.add_strategy("XYZ", 500000, 0.5, 2, 0, 0.001, 0.001)
Sim.add_strategy("XYZ", 500000, 1.5, 2, 0, 0.001, 0.001)
Sim.state()["orders"]

,id,pair,tkn_name,y_int,y,y_unit,p_start,p_end,p_unit,linked_to_id
0,0,XYZUSDC,XYZ,500000.000000,500000.000000,XYZ,0.500000,2.000000,USDC per XYZ,1
1,1,XYZUSDC,USDC,0.000000,0.000000,USDC,0.001000,0.001000,USDC per XYZ,0
2,2,XYZUSDC,XYZ,500000.000000,500000.000000,XYZ,1.500000,2.000000,USDC per XYZ,3
3,3,XYZUSDC,USDC,0.000000,0.000000,USDC,0.001000,0.001000,USDC per XYZ,2

The market is now buying

In [23]:
for size in [100]*11:
    result = Sim.trader_buys("XYZ", size*999.999)
result

{'success': False,
 'error': 'Insufficient liquidity across all user positions to support this trade.',
 'exception': AssertionError('Insufficient liquidity across all user positions to support this trade.')}

We see that initially the price is rising fast, but as soon as both positions yield tokens (above 1.50) there is more capacity in any given price range

In [24]:
Sim.state()["trades"].query("aggr==True")[["amt1", "tkn1", "nroutes", "price"]]

      amt1 tkn1  nroutes     price
0  99999.9  XYZ        1  0.555555
0  99999.9  XYZ        1  0.694444
0  99999.9  XYZ        1  0.892857
0  99999.9  XYZ        1  1.190475
0  99999.9  XYZ        2   1.50838
0  99999.9  XYZ        2  1.592973
0  99999.9  XYZ        2  1.671989
0  99999.9  XYZ        2  1.757033
0  99999.9  XYZ        2  1.848734
0  99999.9  XYZ        2  1.947808

After those trades, the token project has sold most of its tokens (just 1 left across both positions), and has received USD 1,366,023

In [25]:
o = Sim.state()["orders"][['y', 'y_unit']]
o.query("y_unit=='XYZ'").sum()

y         1.000000
y_unit      XYZXYZ
dtype: object

In [26]:
o.query("y_unit=='USDC'").sum()

y         1366023.403785
y_unit          USDCUSDC
dtype: object