In [1]:
from carbon import CarbonSimulatorUI, __version__, __date__
print(f"Carbon Version v{__version__} ({__date__})", )

Carbon Version v1.3 (30/Nov/2022)

# Carbon Simulation - Demo 1-3

In this demo we look at **multi-curve unidirectional liquidity with a zero width range**

In [2]:
Sim = CarbonSimulatorUI(pair="ETHUSDC", verbose=False)
Sim

CarbonSimulatorUI(<0 orders, 0 trades>, pair='ETHUSDC')

We are setting up unidirectional ranges for selling ETH at 2000, 2010, ..., 2040 and seed them with 10 ETH each

In [3]:
Sim.add_order("ETH", 10, 2000, 2000)
Sim.add_order("ETH", 10, 2010, 2010)
Sim.add_order("ETH", 10, 2020, 2020)
Sim.add_order("ETH", 10, 2030, 2030)
Sim.add_order("ETH", 10, 2040, 2040)
Sim.state()["orders"]

,id,pair,tkn,y_int,y,y_unit,p_start,p_end,p_marg,p_unit,lid
0,0,ETHUSDC,ETH,10.0,10.0,ETH,2000.0,2000.0,2000.0,USDC per ETH,0
1,1,ETHUSDC,ETH,10.0,10.0,ETH,2010.0,2010.0,2010.0,USDC per ETH,1
2,2,ETHUSDC,ETH,10.0,10.0,ETH,2020.0,2020.0,2020.0,USDC per ETH,2
3,3,ETHUSDC,ETH,10.0,10.0,ETH,2030.0,2030.0,2030.0,USDC per ETH,3
4,4,ETHUSDC,ETH,10.0,10.0,ETH,2040.0,2040.0,2040.0,USDC per ETH,4

We are now selling five times 10 ETH and we see that they indeed just match those positions

In [4]:
Sim.amm_sells("ETH", 10)
Sim.amm_sells("ETH", 10)
Sim.amm_sells("ETH", 10)
Sim.amm_sells("ETH", 10)
Sim.amm_sells("ETH", 10)
Sim.state()["trades"].query("aggr==True")

,uid,id,subid,note,aggr,exec,limitfail,amt1,tkn1,amt2,tkn2,pair,routeix,nroutes,price,p_unit,threshold_orders
0,0,0,A,AMM sells 10ETH buys 20000USDC,True,True,None,10.0,ETH,20000.0,USDC,ETHUSDC,[0],1,2000.0,USDC per ETH,None
0,1,1,A,AMM sells 10ETH buys 20100USDC,True,True,None,10.0,ETH,20100.0,USDC,ETHUSDC,[1],1,2010.0,USDC per ETH,None
0,2,2,A,AMM sells 10ETH buys 20200USDC,True,True,None,10.0,ETH,20200.0,USDC,ETHUSDC,[2],1,2020.0,USDC per ETH,None
0,3,3,A,AMM sells 10ETH buys 20300USDC,True,True,None,10.0,ETH,20300.0,USDC,ETHUSDC,[3],1,2030.0,USDC per ETH,None
0,4,4,A,AMM sells 10ETH buys 20400USDC,True,True,None,10.0,ETH,20400.0,USDC,ETHUSDC,[4],1,2040.0,USDC per ETH,None

All orders are no used up...

In [5]:
Sim.state()["orders"]

,id,pair,tkn,y_int,y,y_unit,p_start,p_end,p_marg,p_unit,lid
0,0,ETHUSDC,ETH,10.0,0.0,ETH,2000.0,2000.0,2000.0,USDC per ETH,0
1,1,ETHUSDC,ETH,10.0,0.0,ETH,2010.0,2010.0,2010.0,USDC per ETH,1
2,2,ETHUSDC,ETH,10.0,0.0,ETH,2020.0,2020.0,2020.0,USDC per ETH,2
3,3,ETHUSDC,ETH,10.0,0.0,ETH,2030.0,2030.0,2030.0,USDC per ETH,3
4,4,ETHUSDC,ETH,10.0,0.0,ETH,2040.0,2040.0,2040.0,USDC per ETH,4

...so we can't even sell epsilon

In [6]:
Sim.amm_sells("ETH", 0.00001)

{'success': False,
 'error': 'token ETH has no non-empty liquidity positions',
 'exception': ValueError('token ETH has no non-empty liquidity positions')}