In [1]:
from carbon import CarbonSimulatorUI
from carbon.simulators.carbon_simulator import (
    __version__ as uiversion,
    __date__ as uidate,
)
from jupyformat import *

In [2]:
print("[carbon_simulator] version", uiversion, uidate)
jp()

[carbon_simulator] version 0.9.10.1 12/Nov/2022

# Carbon Simulation - Test 13

Set up the simulation

In [3]:
Sim = CarbonSimulatorUI(verbose=False)
Sim

CarbonSimulatorUI(<0 positions, 0 trades>, pair='None')

Checking that the UI is robust against inverting the range

In [4]:
Sim.add_sgl_pos("ETH", 10, 2000, 3000, pair="ETHUSDC")
Sim.add_sgl_pos("ETH", 10, 3000, 2000, pair="ETHUSDC")
Sim

[_add_pos] swapped p_lo, p_hi

CarbonSimulatorUI(<2 positions, 0 trades>, pair='None')

In [5]:
Sim.add_sgl_pos("USDC", 10000, 1000, 500, pair="ETHUSDC")
Sim.add_sgl_pos("USDC", 10000, 1000, 1500, pair="ETHUSDC")
Sim

[_add_pos] swapped p_lo, p_hi

CarbonSimulatorUI(<4 positions, 0 trades>, pair='None')

In [6]:
Sim.state(pair="ETHUSDC")["orders"]

,id,pair,tkn_name,y_int,y,y_unit,p_start,p_end,p_unit,linked_to_id
0,0,ETHUSDC,ETH,10.000000,10.000000,ETH,2000.000000,3000.000000,USDC per ETH,0
1,1,ETHUSDC,ETH,10.000000,10.000000,ETH,2000.000000,3000.000000,USDC per ETH,1
2,2,ETHUSDC,USDC,10000.000000,10000.000000,USDC,1000.000000,500.000000,USDC per ETH,2
3,3,ETHUSDC,USDC,10000.000000,10000.000000,USDC,1500.000000,1000.000000,USDC per ETH,3

In [7]:
Sim.add_linked_pos("BAT", 10, 12., 10, 0, 5, 7.5, pair="BATMAN")
Sim

[_add_pos] swapped p_lo, p_hi
[_add_pos] swapped p_lo, p_hi

CarbonSimulatorUI(<6 positions, 0 trades>, pair='None')

In [8]:
Sim.add_linked_pos("BAT", 10, 10, 12.5, 0, 7.5, 5, pair="BATMAN")
Sim

CarbonSimulatorUI(<8 positions, 0 trades>, pair='None')

In [9]:
Sim.state(pair="BATMAN")["orders"]

,id,pair,tkn_name,y_int,y,y_unit,p_start,p_end,p_unit,linked_to_id
4,4,BATMAN,BAT,10.000000,10.000000,BAT,10.000000,12.000000,MAN per BAT,5
5,5,BATMAN,MAN,0.000000,0.000000,MAN,7.500000,5.000000,MAN per BAT,4
6,6,BATMAN,BAT,10.000000,10.000000,BAT,10.000000,12.500000,MAN per BAT,7
7,7,BATMAN,MAN,0.000000,0.000000,MAN,7.500000,5.000000,MAN per BAT,6