In [1]:
from carbon import CarbonSimulatorUI
from carbon.simulators.carbon_simulator import (
    __version__ as uiversion,
    __date__ as uidate,
)
from jupyformat import *

In [16]:
print("[carbon_simulator] version", uiversion, uidate)
jp()

[carbon_simulator] version 0.9.6 8/Nov/2022

# Carbon Simulation - Test 9

We are not giving pair defaults in the Sim object, so the pair must be mentioned explicitly

In [3]:
Sim = CarbonSimulatorUI(verbose=False, raiseonerror=False)
Sim

CarbonSimulatorUI(<0 positions, 0 trades>, pair='None')


## Adding positions
We now add 3 positions for testing purposes

In [4]:
Sim.add_sgl_pos("ETH", 10, 2000, 2000, "ETHUSDC")
Sim.add_sgl_pos("ETH", 10, 2010, 2010, "ETHUSDC")
Sim.add_sgl_pos("ETH", 10, 2020, 2020, "ETHUSDC")
Sim.state()["orders"]

,id,pair,tkn_name,y_int,y,p_high,p_low,linked_to_id
0,0,ETHUSDC,ETH,10.000000,10.000000,2000.000000,2000.000000,0
1,1,ETHUSDC,ETH,10.000000,10.000000,2010.000000,2010.000000,1
2,2,ETHUSDC,ETH,10.000000,10.000000,2020.000000,2020.000000,2

## Trading
### First trade

In [5]:
je("This trade should execute at 2000, not 2020 (and the orders suggest it did)")

In [6]:
Sim.amm_sells("ETH", 10, "ETHUSDC")["trades"]

,id,summary,amt1,amt2,tkn1,tkn2,pair,route_indexes,num_trades,price_avg
0,0.1,route thru #0,10.0,20000.0,ETH,USDC,ETHUSDC,0,1,2000.0
0,0,10.0 ETH \n traded for \n20000.0 USDC \n,10.0,20000.0,ETH,USDC,ETHUSDC,[0],1,2000.0 USDC per ETH

In [7]:
Sim.state()["orders"]

,id,pair,tkn_name,y_int,y,p_high,p_low,linked_to_id
0,0,ETHUSDC,ETH,10.000000,0.000000,2000.000000,2000.000000,0
1,1,ETHUSDC,ETH,10.000000,10.000000,2010.000000,2010.000000,1
2,2,ETHUSDC,ETH,10.000000,10.000000,2020.000000,2020.000000,2

### Second trade

In [9]:
Sim.amm_sells("ETH", 10, "ETHUSDC")["trades"]

,id,summary,amt1,amt2,tkn1,tkn2,pair,route_indexes,num_trades,price_avg
0,1.1,route thru #1,10.0,20100.0,ETH,USDC,ETHUSDC,1,1,2010.0
0,1,10.0 ETH \n traded for \n20100.0 USDC \n,10.0,20100.0,ETH,USDC,ETHUSDC,[1],1,2010.0 USDC per ETH

In [10]:
Sim.state()["orders"]

,id,pair,tkn_name,y_int,y,p_high,p_low,linked_to_id
0,0,ETHUSDC,ETH,10.000000,0.000000,2000.000000,2000.000000,0
1,1,ETHUSDC,ETH,10.000000,0.000000,2010.000000,2010.000000,1
2,2,ETHUSDC,ETH,10.000000,10.000000,2020.000000,2020.000000,2

### Third trade

In [12]:
Sim.amm_sells("ETH", 10, "ETHUSDC")["trades"]

,id,summary,amt1,amt2,tkn1,tkn2,pair,route_indexes,num_trades,price_avg
0,2.1,route thru #2,10.0,20200.0,ETH,USDC,ETHUSDC,2,1,2020.0
0,2,10.0 ETH \n traded for \n20200.0 USDC \n,10.0,20200.0,ETH,USDC,ETHUSDC,[2],1,2020.0 USDC per ETH

In [13]:
Sim.state()["orders"]

,id,pair,tkn_name,y_int,y,p_high,p_low,linked_to_id
0,0,ETHUSDC,ETH,10.000000,0.000000,2000.000000,2000.000000,0
1,1,ETHUSDC,ETH,10.000000,0.000000,2010.000000,2010.000000,1
2,2,ETHUSDC,ETH,10.000000,0.000000,2020.000000,2020.000000,2

### Fourth trade *should fail)

In [14]:
Sim.amm_sells("ETH", 10, "ETHUSDC")

{'success': False,
 'error': 'token ETH has no valid liquidity positions',
 'exception': ValueError('token ETH has no valid liquidity positions')}

In [15]:
Sim.state()["orders"]

,id,pair,tkn_name,y_int,y,p_high,p_low,linked_to_id
0,0,ETHUSDC,ETH,10.000000,0.000000,2000.000000,2000.000000,0
1,1,ETHUSDC,ETH,10.000000,0.000000,2010.000000,2010.000000,1
2,2,ETHUSDC,ETH,10.000000,0.000000,2020.000000,2020.000000,2