In [17]:
from carbon import CarbonSimulatorUI
from carbon.simulators.carbon_simulator import (
    __version__ as uiversion,
    __date__ as uidate,
)
from jupyformat import *

In [31]:
print("[carbon_simulator] version", uiversion, uidate)
jp()

[carbon_simulator] version 0.9.10.2 12/Nov/2022

# Carbon Simulation - Test 22

In [19]:
Sim = CarbonSimulatorUI(pair="ETHUSDC", raiseonerror=False, verbose=False)
Sim

CarbonSimulatorUI(<0 positions, 0 trades>, pair='ETHUSDC')

In [20]:
help(Sim.add_sgl_pos)

Help on method add_sgl_pos in module carbon.simulators.carbon_simulator:

add_sgl_pos(tkn: str, amt: Any, p_start: Any, p_end: Any, pair: str = None) -> Dict[str, Any] method of carbon.simulators.carbon_simulator.CarbonSimulatorUI instance
    adds a single position for sale of tkn

    :tkn:           the token that is being added to the position, eg "ETH"; it is the token being sold*
    :amt:           the amount of `tkn` that is added to the position
    :p_start:       the start* of the range, quoted in the currency of the pair
    :p_end:         ditto end*
    :pair:          the token pair to which the position corresponds, eg "ETHUSD"*

    *p_start, p_end are interchangeable, the code deals with sorting them correctly,
    albeit with a warning message if they were in the wrong order

We assert that we can not add an unrelated position to this pair, either using an existing token like LINK, or a token like DNE (does not exist).

In [21]:
#Sim.add_sgl_pos("LINK", 100, 2000, 2000)

We set up a single curve where the AMM sells ETH against USDC at 2000

In [22]:
Sim.add_sgl_pos("ETH", 10, 2000, 2000)
Sim.add_sgl_pos("USDC", 10000, 2000, 2000)
Sim.state()["orders"]

,id,pair,tkn_name,y_int,y,y_unit,p_start,p_end,p_unit,linked_to_id
0,0,ETHUSDC,ETH,10.000000,10.000000,ETH,2000.000000,2000.000000,USDC per ETH,0
1,1,ETHUSDC,USDC,10000.000000,10000.000000,USDC,2000.000000,2000.000000,USDC per ETH,1

In [23]:
#Sim.add_linked_pos("ETH", 100, 2000, 2000, 0, 1000, 1000)["orders"]
#Sim.state()["orders"]

In [24]:
Sim.amm_buys("ETH", 1)["trades"]

,uid,id,sub_id,note,aggr,amt1,tkn1,amt2,tkn2,pair,route_indexes,num_trades,price_avg,p_unit
0,0.0,0,0,route #1,False,2000.0,USDC,1.0,ETH,ETHUSDC,1,1,2000.0,USDC per ETH
0,0,0,None,AMM sells 2000USDC buys 1ETH,True,2000.0,USDC,1.0,ETH,ETHUSDC,[1],1,2000.0,USDC per ETH

In [25]:
Sim.amm_sells("ETH", 1)["trades"]

,uid,id,sub_id,note,aggr,amt1,tkn1,amt2,tkn2,pair,route_indexes,num_trades,price_avg,p_unit
0,1.0,1,0,route #0,False,1.0,ETH,2000.0,USDC,ETHUSDC,0,1,2000.0,USDC per ETH
0,1,1,None,AMM sells 1ETH buys 2000USDC,True,1.0,ETH,2000.0,USDC,ETHUSDC,[0],1,2000.0,USDC per ETH

In [26]:
Sim.state()["orders"]

,id,pair,tkn_name,y_int,y,y_unit,p_start,p_end,p_unit,linked_to_id
0,0,ETHUSDC,ETH,10.000000,9.000000,ETH,2000.000000,2000.000000,USDC per ETH,0
1,1,ETHUSDC,USDC,10000.000000,8000.000000,USDC,2000.000000,2000.000000,USDC per ETH,1

In [27]:
Sim.amm_buys("USDC", 2000)["trades"]

,uid,id,sub_id,note,aggr,amt1,tkn1,amt2,tkn2,pair,route_indexes,num_trades,price_avg,p_unit
0,2.0,2,0,route #0,False,1.0,ETH,2000.0,USDC,ETHUSDC,0,1,2000.0,USDC per ETH
0,2,2,None,AMM sells 1ETH buys 2000USDC,True,1.0,ETH,2000.0,USDC,ETHUSDC,[0],1,2000.0,USDC per ETH

In [28]:
Sim.amm_sells("USDC", 2000)["trades"]

,uid,id,sub_id,note,aggr,amt1,tkn1,amt2,tkn2,pair,route_indexes,num_trades,price_avg,p_unit
0,3.0,3,0,route #1,False,2000.0,USDC,1.0,ETH,ETHUSDC,1,1,2000.0,USDC per ETH
0,3,3,None,AMM sells 2000USDC buys 1ETH,True,2000.0,USDC,1.0,ETH,ETHUSDC,[1],1,2000.0,USDC per ETH

In [29]:
Sim.state()["trades"]

,uid,id,sub_id,note,aggr,amt1,tkn1,amt2,tkn2,pair,route_indexes,num_trades,price_avg,p_unit
0,0.0,0,0,route #1,False,2000.0,USDC,1.0,ETH,ETHUSDC,1,1,2000.0,USDC per ETH
0,0,0,None,AMM sells 2000USDC buys 1ETH,True,2000.0,USDC,1.0,ETH,ETHUSDC,[1],1,2000.0,USDC per ETH
0,1.0,1,0,route #0,False,1.0,ETH,2000.0,USDC,ETHUSDC,0,1,2000.0,USDC per ETH
0,1,1,None,AMM sells 1ETH buys 2000USDC,True,1.0,ETH,2000.0,USDC,ETHUSDC,[0],1,2000.0,USDC per ETH
0,2.0,2,0,route #0,False,1.0,ETH,2000.0,USDC,ETHUSDC,0,1,2000.0,USDC per ETH
0,2,2,None,AMM sells 1ETH buys 2000USDC,True,1.0,ETH,2000.0,USDC,ETHUSDC,[0],1,2000.0,USDC per ETH
0,3.0,3,0,route #1,False,2000.0,USDC,1.0,ETH,ETHUSDC,1,1,2000.0,USDC per ETH
0,3,3,None,AMM sells 2000USDC buys 1ETH,True,2000.0,USDC,1.0,ETH,ETHUSDC,[1],1,2000.0,USDC per ETH

In [30]:
Sim.state()["orders"]

,id,pair,tkn_name,y_int,y,y_unit,p_start,p_end,p_unit,linked_to_id
0,0,ETHUSDC,ETH,10.000000,8.000000,ETH,2000.000000,2000.000000,USDC per ETH,0
1,1,ETHUSDC,USDC,10000.000000,6000.000000,USDC,2000.000000,2000.000000,USDC per ETH,1