In [1]:
from carbon import CarbonSimulatorUI
from carbon.simulators.carbon_simulator import (
    __version__ as uiversion,
    __date__ as uidate,
)
from jupyformat import *

In [11]:
print("[carbon_simulator] version", uiversion, uidate)
jp()

[carbon_simulator] version 0.9.6 8/Nov/2022

# Carbon Simulation - Test 12

Set up the simulation, default pair being `ETHUSDC`

In [3]:
Sim = CarbonSimulatorUI(pair="ETHUSDC", verbose=False)
Sim

CarbonSimulatorUI(<0 positions, 0 trades>, pair='ETHUSDC')

Add a linked position sell ETH @ 2000 USDC per ETH (funded with 100 ETH), and buy back at 1000 (unfunded)

In [4]:
Sim.add_linked_pos("ETH", 100, 2000, 2000, 0, 1000, 1000)
Sim

CarbonSimulatorUI(<2 positions, 0 trades>, pair='ETHUSDC')

In [5]:
Sim.state()["orders"]

,id,pair,tkn_name,y_int,y,p_high,p_low,linked_to_id
0,0,ETHUSDC,ETH,100.000000,100.000000,2000.000000,2000.000000,1
1,1,ETHUSDC,USDC,0.000000,0.000000,0.001000,0.001000,0

Sell the entire ETH position. This gives us 200,000 USDC which expands the curve

In [6]:
Sim.amm_sells("ETH", 100)["trades"]

,id,summary,amt1,amt2,tkn1,tkn2,pair,route_indexes,num_trades,price_avg
0,0.1,route thru #0,100.0,200000.0,ETH,USDC,ETHUSDC,0,1,2000.0
0,0,100.0 ETH \n traded for \n200000.0 USDC \n,100.0,200000.0,ETH,USDC,ETHUSDC,[0],1,2000.0 USDC per ETH

In [7]:
Sim.state()["orders"]

,id,pair,tkn_name,y_int,y,p_high,p_low,linked_to_id
0,0,ETHUSDC,ETH,100.000000,0.000000,2000.000000,2000.000000,1
1,1,ETHUSDC,USDC,200000.000000,200000.000000,0.001000,0.001000,0

We now sell all our 200,000 USDC @ 1000, for 200 ETH

In [9]:
Sim.amm_sells("USDC", 200000)["trades"]

,id,summary,amt1,amt2,tkn1,tkn2,pair,route_indexes,num_trades,price_avg
0,1.1,route thru #1,200000.0,200.0,USDC,ETH,ETHUSDC,1,1,0.001
0,1,200000.0 USDC \n traded for \n200.0 ETH \n,200000.0,200.0,USDC,ETH,ETHUSDC,[1],1,0.001 ETH per USDC

In [10]:
Sim.state()["orders"]

,id,pair,tkn_name,y_int,y,p_high,p_low,linked_to_id
0,0,ETHUSDC,ETH,200.000000,200.000000,2000.000000,2000.000000,1
1,1,ETHUSDC,USDC,200000.000000,0.000000,0.001000,0.001000,0