In [1]:
from carbon import CarbonSimulatorUI
from carbon.simulators.carbon_simulator import (
    __version__ as uiversion,
    __date__ as uidate,
)
from jupyformat import *

In [2]:
print("[carbon_simulator] version", uiversion, uidate)
jp()

[carbon_simulator] version 0.9.10.1 12/Nov/2022

# Carbon Simulation - Test 14

## Single positions

In [3]:
Sim = CarbonSimulatorUI(verbose=False, raiseonerror=False)
Sim

CarbonSimulatorUI(<0 positions, 0 trades>, pair='None')

In [4]:
#Sim.get_quote_convention("ETHUSDC") # returns "USDC per ETH"
#Sim.quote_convention_is_reversed("ETHUSDC") # True or False
#Sim.set_quote_convention_reversed("ETHUSDC", True) # sets quote convention

In [5]:
Sim.add_sgl_pos("ETH", 10, 2000, 2000, "ETHUSDC")
Sim.add_sgl_pos("USDC", 10000, 1000, 1000, "ETHUSDC")
Sim.state()["orders"]

,id,pair,tkn_name,y_int,y,y_unit,p_start,p_end,p_unit,linked_to_id
0,0,ETHUSDC,ETH,10.000000,10.000000,ETH,2000.000000,2000.000000,USDC per ETH,0
1,1,ETHUSDC,USDC,10000.000000,10000.000000,USDC,1000.000000,1000.000000,USDC per ETH,1

In [6]:
Sim.amm_sells("ETH", 1, "ETHUSDC")
Sim.amm_sells("USDC", 1000, "ETHUSDC")
Sim

CarbonSimulatorUI(<2 positions, 2 trades>, pair='None')

In [7]:
Sim.state()["orders"]

,id,pair,tkn_name,y_int,y,y_unit,p_start,p_end,p_unit,linked_to_id
0,0,ETHUSDC,ETH,10.000000,9.000000,ETH,2000.000000,2000.000000,USDC per ETH,0
1,1,ETHUSDC,USDC,10000.000000,9000.000000,USDC,1000.000000,1000.000000,USDC per ETH,1

In [8]:
Sim.state()["trades"]

,uid,id,sub_id,note,aggr,amt1,tkn1,amt2,tkn2,pair,route_indexes,num_trades,price_avg,p_unit
0,0.0,0,0,route #0,False,1.0,ETH,2000.0,USDC,ETHUSDC,0,1,2000.0,USDC per ETH
0,0,0,None,AMM sells 1ETH buys 2000USDC,True,1.0,ETH,2000.0,USDC,ETHUSDC,[0],1,2000.0,USDC per ETH
0,1.0,1,0,route #1,False,1000.0,USDC,1.0,ETH,ETHUSDC,1,1,1000.0,USDC per ETH
0,1,1,None,AMM sells 1000USDC buys 1ETH,True,1000.0,USDC,1.0,ETH,ETHUSDC,[1],1,1000.0,USDC per ETH

## Linked position

In [9]:
Sim = CarbonSimulatorUI(verbose=False, raiseonerror=False)
Sim

CarbonSimulatorUI(<0 positions, 0 trades>, pair='None')

In [10]:
Sim.add_linked_pos("ETH", 10, 2000, 2000, 10000, 1000, 1000, "ETHUSDC")
Sim

CarbonSimulatorUI(<2 positions, 0 trades>, pair='None')

In [11]:
Sim.amm_sells("ETH", 1, "ETHUSDC")
Sim.amm_sells("USDC", 1000, "ETHUSDC")
Sim

CarbonSimulatorUI(<2 positions, 2 trades>, pair='None')

In [12]:
Sim.state()["orders"]

,id,pair,tkn_name,y_int,y,y_unit,p_start,p_end,p_unit,linked_to_id
0,0,ETHUSDC,ETH,10.000000,10.000000,ETH,2000.000000,2000.000000,USDC per ETH,1
1,1,ETHUSDC,USDC,12000.000000,11000.000000,USDC,1000.000000,1000.000000,USDC per ETH,0

In [13]:
ji("this is now fixed")

In [14]:
Sim.state()["trades"]

,uid,id,sub_id,note,aggr,amt1,tkn1,amt2,tkn2,pair,route_indexes,num_trades,price_avg,p_unit
0,0.0,0,0,route #0,False,1.0,ETH,2000.0,USDC,ETHUSDC,0,1,2000.0,USDC per ETH
0,0,0,None,AMM sells 1ETH buys 2000USDC,True,1.0,ETH,2000.0,USDC,ETHUSDC,[0],1,2000.0,USDC per ETH
0,1.0,1,0,route #1,False,1000.0,USDC,1.0,ETH,ETHUSDC,1,1,1000.0,USDC per ETH
0,1,1,None,AMM sells 1000USDC buys 1ETH,True,1000.0,USDC,1.0,ETH,ETHUSDC,[1],1,1000.0,USDC per ETH