In [1]:
from carbon import CarbonSimulatorUI
from carbon.simulators.carbon_simulator import (
    __version__ as uiversion,
    __date__ as uidate,
)
from jupyformat import *

In [11]:
print("[carbon.ui] version", uiversion, uidate)
jp()

[carbon.ui] version 0.9.5 8/Nov/2022

# Carbon Simulation - Test 6

We are not giving pair defaults in the Sim object, so the pair must be mentioned explicitly

In [3]:
Sim = CarbonSimulatorUI(verbose=False, raiseonerror=False)
Sim

CarbonSimulatorUI(<0 positions, 0 trades>, pair='None')

This fails, as it should because no pair has been provided

In [4]:
Sim.add_sgl_pos("ETH", 10, 2000, 2000)

{'success': False,
 'error': 'Trading pair must be provided either in function call or in simulation defaults',
 'exception': ValueError('Trading pair must be provided either in function call or in simulation defaults')}

We now add a positions for testing purposes

In [5]:
Sim.add_sgl_pos("ETH", 10, 2000, 2000, "ETHUSDC")
Sim.state()["orders"]

,id,pair,tkn_name,y_int,y,p_high,p_low,linked_to_id
0,0,ETHUSDC,ETH,10.000000,10.000000,2000.000000,2000.000000,0

Again this fails as it should because the pair is missing

In [6]:
Sim.amm_sells("ETH", 10)

{'success': False,
 'error': 'Trading pair must be provided either in function call or in simulation defaults',
 'exception': ValueError('Trading pair must be provided either in function call or in simulation defaults')}

We are now looking at the routing of this particular trade it will not be executed. We can see that by looking at the y values in the orders table

In [7]:
Sim.amm_sells("ETH", 10, "ETHUSDC", execute=False)["trades"]

,id,summary,amt1,amt2,tkn1,tkn2,pair,route_indexes,num_trades,price_avg
0,0.1,route thru #0,10.0,20000.0,ETH,USDC,ETHUSDC,0,1,2000.0
0,0,10.0 ETH \n traded for \n20000.0 USDC \n,10.0,20000.0,ETH,USDC,ETHUSDC,[0],1,2000.0 USDC per ETH

In [8]:
Sim.state()["orders"]

,id,pair,tkn_name,y_int,y,p_high,p_low,linked_to_id
0,0,ETHUSDC,ETH,10.000000,10.000000,2000.000000,2000.000000,0

We are now executing the trade for real and we see that the first `y=0` after execution

In [9]:
Sim.amm_sells("ETH", 10, "ETHUSDC")["trades"]

,id,summary,amt1,amt2,tkn1,tkn2,pair,route_indexes,num_trades,price_avg
0,1.1,route thru #0,10.0,20000.0,ETH,USDC,ETHUSDC,0,1,2000.0
0,1,10.0 ETH \n traded for \n20000.0 USDC \n,10.0,20000.0,ETH,USDC,ETHUSDC,[0],1,2000.0 USDC per ETH

In [10]:
Sim.state()["orders"]

,id,pair,tkn_name,y_int,y,p_high,p_low,linked_to_id
0,0,ETHUSDC,ETH,10.000000,0.000000,2000.000000,2000.000000,0