In [34]:
from carbon import CarbonSimulatorUI
from carbon.simulators.carbon_simulator import (
    __version__ as uiversion,
    __date__ as uidate,
)
from jupyformat import *

In [35]:
print("[carbon_simulator] version", uiversion, uidate)
jp()

[carbon_simulator] version 0.9.10.2 12/Nov/2022

# Carbon Simulation Test 27

In [36]:
Sim = CarbonSimulatorUI(pair="ETHUSDC", verbose=False, raiseonerror=False)
Sim

CarbonSimulatorUI(<0 positions, 0 trades>, pair='ETHUSDC')

In [37]:
Sim.add_sgl_pos("ETH", 100, 2000, 2000)
Sim.add_sgl_pos("ETH", 100, 2010, 2010)
Sim.add_linked_pos("ETH", 100, 2030, 2030, 0, 1030, 1030)
Sim.add_linked_pos("ETH", 100, 2040, 2040, 0, 1040, 1040)
Sim.state()["orders"]

,id,pair,tkn_name,y_int,y,y_unit,p_start,p_end,p_unit,linked_to_id
0,0,ETHUSDC,ETH,100.000000,100.000000,ETH,2000.000000,2000.000000,USDC per ETH,0
1,1,ETHUSDC,ETH,100.000000,100.000000,ETH,2010.000000,2010.000000,USDC per ETH,1
2,2,ETHUSDC,ETH,100.000000,100.000000,ETH,2030.000000,2030.000000,USDC per ETH,3
3,3,ETHUSDC,USDC,0.000000,0.000000,USDC,1030.000000,1030.000000,USDC per ETH,2
4,4,ETHUSDC,ETH,100.000000,100.000000,ETH,2040.000000,2040.000000,USDC per ETH,5
5,5,ETHUSDC,USDC,0.000000,0.000000,USDC,1040.000000,1040.000000,USDC per ETH,4

We are checking that we could trade at 2000 (order 0)

In [38]:
Sim.amm_sells("ETH", 1, execute=False)["trades"]

,uid,id,sub_id,note,aggr,amt1,tkn1,amt2,tkn2,pair,route_indexes,num_trades,price_avg,p_unit
0,0.0,0,0,route #0,False,1.0,ETH,2000.0,USDC,ETHUSDC,0,1,2000.0,USDC per ETH
0,0,0,A,AMM sells 1ETH buys 2000USDC,True,1.0,ETH,2000.0,USDC,ETHUSDC,[0],1,2000.0,USDC per ETH

In [39]:
help(Sim.delete_pos)

Help on method delete_pos in module carbon.simulators.carbon_simulator:

delete_pos(position_id) method of carbon.simulators.carbon_simulator.CarbonSimulatorUI instance
    deletes a position, or a set of linked positions

    :position_id:   the index of (one of) the positions to be deleted; this position, and all
                    positions linked to it will be removed
    :returns:       the positions removed as list, [] if not found

In [40]:
Sim.delete_pos(10), Sim.delete_pos(0), Sim.delete_pos(2)

([], [0], [2, 3])

We verify that the orders 0,2,3 are gone

In [41]:
Sim.state()["orders"]

,id,pair,tkn_name,y_int,y,y_unit,p_start,p_end,p_unit,linked_to_id
1,1,ETHUSDC,ETH,100.000000,100.000000,ETH,2010.000000,2010.000000,USDC per ETH,1
4,4,ETHUSDC,ETH,100.000000,100.000000,ETH,2040.000000,2040.000000,USDC per ETH,5
5,5,ETHUSDC,USDC,0.000000,0.000000,USDC,1040.000000,1040.000000,USDC per ETH,4

We verify that the trade now executes at 2010, through route 1

In [42]:
Sim.amm_sells("ETH", 1, execute=False)["trades"]

,uid,id,sub_id,note,aggr,amt1,tkn1,amt2,tkn2,pair,route_indexes,num_trades,price_avg,p_unit
0,1.0,1,0,route #1,False,1.0,ETH,2010.0,USDC,ETHUSDC,1,1,2010.0,USDC per ETH
0,1,1,A,AMM sells 1ETH buys 2010USDC,True,1.0,ETH,2010.0,USDC,ETHUSDC,[1],1,2010.0,USDC per ETH