In [1]:
from carbon import CarbonSimulatorUI
from carbon.simulators.carbon_simulator import (
    __version__ as uiversion,
    __date__ as uidate,
)
from jupyformat import *

In [2]:
print("[carbon_simulator] version", uiversion, uidate)
jp()

[carbon_simulator] version 0.9.10.1 12/Nov/2022

# Carbon Simulation - Test19

In this comprehensive test we test **multi-curve unidirectional liquidity with a zero width range**

In [3]:
Sim = CarbonSimulatorUI(pair="USDCETH", verbose=False)
Sim

CarbonSimulatorUI(<0 positions, 0 trades>, pair='USDCETH')

In [4]:
Sim.add_sgl_pos("ETH", 10, 1/2000, 1/2000)
Sim.add_sgl_pos("ETH", 10, 1/2010, 1/2010)
Sim.add_sgl_pos("ETH", 10, 1/2020, 1/2020)
Sim.add_sgl_pos("ETH", 10, 1/2030, 1/2030)
Sim.add_sgl_pos("ETH", 10, 1/2040, 1/2040)
Sim.state()["orders"]

,id,pair,tkn_name,y_int,y,y_unit,p_start,p_end,p_unit,linked_to_id
0,0,USDCETH,ETH,10.000000,10.000000,ETH,0.000500,0.000500,ETH per USDC,0
1,1,USDCETH,ETH,10.000000,10.000000,ETH,0.000498,0.000498,ETH per USDC,1
2,2,USDCETH,ETH,10.000000,10.000000,ETH,0.000495,0.000495,ETH per USDC,2
3,3,USDCETH,ETH,10.000000,10.000000,ETH,0.000493,0.000493,ETH per USDC,3
4,4,USDCETH,ETH,10.000000,10.000000,ETH,0.000490,0.000490,ETH per USDC,4

However, the AMM can sell 10 ETH, at a price of 2000.

In [5]:
Sim.amm_sells("ETH", 10)
Sim.amm_sells("ETH", 10)
Sim.amm_sells("ETH", 10)
Sim.amm_sells("ETH", 10)
Sim.amm_sells("ETH", 10)
Sim

CarbonSimulatorUI(<5 positions, 5 trades>, pair='USDCETH')

In [6]:
Sim.state()["trades"]

,uid,id,sub_id,note,aggr,amt1,tkn1,amt2,tkn2,pair,route_indexes,num_trades,price_avg,p_unit
0,0.0,0,0,route #0,False,10.0,ETH,20000.0,USDC,USDCETH,0,1,0.0005,ETH per USDC
0,0,0,None,AMM sells 10ETH buys 20000USDC,True,10.0,ETH,20000.0,USDC,USDCETH,[0],1,0.0005,ETH per USDC
0,1.0,1,0,route #1,False,10.0,ETH,20100.0,USDC,USDCETH,1,1,0.000498,ETH per USDC
0,1,1,None,AMM sells 10ETH buys 20100USDC,True,10.0,ETH,20100.0,USDC,USDCETH,[1],1,0.000498,ETH per USDC
0,2.0,2,0,route #2,False,10.0,ETH,20200.0,USDC,USDCETH,2,1,0.000495,ETH per USDC
0,2,2,None,AMM sells 10ETH buys 20200USDC,True,10.0,ETH,20200.0,USDC,USDCETH,[2],1,0.000495,ETH per USDC
0,3.0,3,0,route #3,False,10.0,ETH,20300.0,USDC,USDCETH,3,1,0.000493,ETH per USDC
0,3,3,None,AMM sells 10ETH buys 20300USDC,True,10.0,ETH,20300.0,USDC,USDCETH,[3],1,0.000493,ETH per USDC
0,4.0,4,0,route #4,False,10.0,ETH,20400.0,USDC,USDCETH,4,1,0.00049,ETH per USDC
0,4,4,None,AMM sells 10ETH buys 20400USDC,True,10.0,ETH,20400.0,USDC,USDCETH,[4],1,0.00049,ETH per USDC

In [7]:
Sim.state()["orders"]

,id,pair,tkn_name,y_int,y,y_unit,p_start,p_end,p_unit,linked_to_id
0,0,USDCETH,ETH,10.000000,0.000000,ETH,0.000500,0.000500,ETH per USDC,0
1,1,USDCETH,ETH,10.000000,0.000000,ETH,0.000498,0.000498,ETH per USDC,1
2,2,USDCETH,ETH,10.000000,0.000000,ETH,0.000495,0.000495,ETH per USDC,2
3,3,USDCETH,ETH,10.000000,0.000000,ETH,0.000493,0.000493,ETH per USDC,3
4,4,USDCETH,ETH,10.000000,0.000000,ETH,0.000490,0.000490,ETH per USDC,4

In [8]:
Sim.amm_sells("ETH", 10)

{'success': False,
 'error': 'token ETH has no non-empty liquidity positions',
 'exception': ValueError('token ETH has no non-empty liquidity positions')}