In [1]:
from carbon import CarbonSimulatorUI, analytics as al
from carbon.simulators.carbon_simulator import (
    __version__ as uiversion,
    __date__ as uidate,
)
from carbon.simulators.sim_analytics import Analytics as A
from carbon.simulators.sim_analytics import (
    __version__ as alversion,
    __date__ as aldate,
)
from jupyformat import *

In [16]:
print("[carbon_simulator] version", uiversion, uidate)
print("[sim_analytics] version", alversion, aldate)
jp()

[carbon_simulator] version 1.0 beta4 15/Nov/2022
[sim_analytics] version 1.0 beta1 15/Nov/2022

# Carbon Simulation - Test 32

In [3]:
help(al.linspace)

Help on method linspace in module carbon.simulators.sim_analytics:

linspace(xmax, nint=10, eps=None, eps2=None) method of builtins.type instance
    generates a linearly spaced vector of floats (0+eps, x1, x2, ... xmax*(1-eps2))

    :xmax:          maximum x to be generated
    :nint:          number of intervals, ie numper of points - 1

    The function generates nint equally space intervals (nint+1 points), starting
    from ~0 and ending at ~xmax. The intermediate points are based on the exact
    interval (0, xmax). Once the series has been generated to following adjustments
    are made for numerical stability reasons

        vec[0]  = eps
        vec[-1] = (1-eps2) * maxx

In [4]:
help(A.linspace)

Help on method linspace in module carbon.simulators.sim_analytics:

linspace(xmax, nint=10, eps=None, eps2=None) method of builtins.type instance
    generates a linearly spaced vector of floats (0+eps, x1, x2, ... xmax*(1-eps2))

    :xmax:          maximum x to be generated
    :nint:          number of intervals, ie numper of points - 1

    The function generates nint equally space intervals (nint+1 points), starting
    from ~0 and ending at ~xmax. The intermediate points are based on the exact
    interval (0, xmax). Once the series has been generated to following adjustments
    are made for numerical stability reasons

        vec[0]  = eps
        vec[-1] = (1-eps2) * maxx

In [5]:
vec = al.linspace(100)
vec, len(vec)

(array([1.0000e-04, 1.0000e+01, 2.0000e+01, 3.0000e+01, 4.0000e+01,
        5.0000e+01, 6.0000e+01, 7.0000e+01, 8.0000e+01, 9.0000e+01,
        9.9999e+01]),
 11)

In [6]:
help(al.midpoints)

Help on function midpoints in module carbon.simulators.sim_analytics:

midpoints(r)
    calculates the midpoints: (x0, x1, x2, ...) -> (avg(x0,x1), avg(x1,x2), ...)

In [7]:
help(A.midpoints)

Help on function midpoints in module carbon.simulators.sim_analytics:

midpoints(r)
    calculates the midpoints: (x0, x1, x2, ...) -> (avg(x0,x1), avg(x1,x2), ...)

In [8]:
vec2 = al.midpoints(vec)
vec2, len(vec2)

(array([ 5.00005, 15.     , 25.     , 35.     , 45.     , 55.     ,
        65.     , 75.     , 85.     , 94.9995 ]),
 10)

In [9]:
help(al.diff)

Help on function diff in module carbon.simulators.sim_analytics:

diff(vec)
    calculates the differences: (x0, x1, x2, ...) -> (x1-x0, x2-x1, ...)

In [10]:
help(A.diff)

Help on function diff in module carbon.simulators.sim_analytics:

diff(vec)
    calculates the differences: (x0, x1, x2, ...) -> (x1-x0, x2-x1, ...)

In [11]:
vecd = al.diff(vec)
vecd, len(vecd)

(array([ 9.9999, 10.    , 10.    , 10.    , 10.    , 10.    , 10.    ,
        10.    , 10.    ,  9.999 ]),
 10)

In [12]:
Sim = CarbonSimulatorUI(pair="ETHUSDC", verbose=False, raiseonerror=True)
Sim

CarbonSimulatorUI(<0 orders, 0 trades>, pair='ETHUSDC')

In [13]:
Sim.add_order("ETH", 10, 2000, 3000)["orders"]
Sim.add_order("ETH", 10, 2000, 2500)["orders"]
Sim.state()["orders"]

,id,pair,tkn,y_int,y,y_unit,p_start,p_end,p_marg,p_unit,lid
0,0,ETHUSDC,ETH,10.0,10.0,ETH,2000.0,3000.0,2000.0,USDC per ETH,0
1,1,ETHUSDC,ETH,10.0,10.0,ETH,2000.0,2500.0,2000.0,USDC per ETH,1

In [14]:
Sim.amm_sells("ETH", 1)["trades"]

,uid,id,subid,note,aggr,exec,limitfail,amt1,tkn1,amt2,tkn2,pair,routeix,nroutes,price,p_unit
0,0.0,0,0,route #0,False,True,None,0.365208,ETH,735.343053,USDC,ETHUSDC,0,1,2013.493796,USDC per ETH
0,0.1,0,1,route #1,False,True,None,0.634792,ETH,1278.150744,USDC,ETHUSDC,1,1,2013.493796,USDC per ETH
0,0,0,A,AMM sells 1ETH buys 2013USDC,True,True,None,1.000000,ETH,2013.493796,USDC,ETHUSDC,"[0, 1]",2,2013.493796,USDC per ETH

In [15]:
Sim.state()["orders"]

,id,pair,tkn,y_int,y,y_unit,p_start,p_end,p_marg,p_unit,lid
0,0,ETHUSDC,ETH,10.0,9.634792,ETH,2000.0,3000.0,2027.078671,USDC per ETH,0
1,1,ETHUSDC,ETH,10.0,9.365208,ETH,2000.0,2500.0,2027.078613,USDC per ETH,1