In [1]:
from carbon import CarbonSimulatorUI
from carbon.simulators.carbon_simulator import (
    __version__ as uiversion,
    __date__ as uidate,
)
from jupyformat import *

In [2]:
print("[carbon_simulator] version", uiversion, uidate)
jp()

[carbon_simulator] version 1.0 beta3 14/Nov/2022

# Carbon Simulation - Test 31

In [3]:
Sim = CarbonSimulatorUI(pair="ETHUSDC", verbose=False, raiseonerror=True)
Sim

CarbonSimulatorUI(<0 orders, 0 trades>, pair='ETHUSDC')

In [4]:
Sim.add_order("ETH", 10, 2000, 3000)["orders"]
Sim.add_order("ETH", 10, 2000, 2500)["orders"]
Sim.state()["orders"]

,id,pair,tkn,y_int,y,y_unit,p_start,p_end,p_marg,p_unit,lid
0,0,ETHUSDC,ETH,10.0,10.0,ETH,2000.0,3000.0,2000.0,USDC per ETH,0
1,1,ETHUSDC,ETH,10.0,10.0,ETH,2000.0,2500.0,2000.0,USDC per ETH,1

In [5]:
Sim.amm_sells("ETH", 1)["trades"]

,uid,id,subid,note,aggr,exec,limitfail,amt1,tkn1,amt2,tkn2,pair,routeix,nroutes,price,p_unit
0,0.0,0,0,route #0,False,True,None,0.365208,ETH,735.343053,USDC,ETHUSDC,0,1,2013.493796,USDC per ETH
0,0.1,0,1,route #1,False,True,None,0.634792,ETH,1278.150744,USDC,ETHUSDC,1,1,2013.493796,USDC per ETH
0,0,0,A,AMM sells 1ETH buys 2013USDC,True,True,None,1.000000,ETH,2013.493796,USDC,ETHUSDC,"[0, 1]",2,2013.493796,USDC per ETH

In [6]:
Sim.state()["orders"]

,id,pair,tkn,y_int,y,y_unit,p_start,p_end,p_marg,p_unit,lid
0,0,ETHUSDC,ETH,10.0,9.634792,ETH,2000.0,3000.0,2027.078671,USDC per ETH,0
1,1,ETHUSDC,ETH,10.0,9.365208,ETH,2000.0,2500.0,2027.078613,USDC per ETH,1