In [1]:
from carbon import CarbonSimulatorUI
from carbon.simulators.carbon_simulator import (
    __version__ as uiversion,
    __date__ as uidate,
)
from jupyformat import *

In [2]:
print("[carbon_simulator] version", uiversion, uidate)
jp()

[carbon_simulator] version 0.9.10.4 12/Nov/2022

# Carbon Simulation - Test 8

USDCETH vs ETHUSDC and `state`

In [3]:
Sim = CarbonSimulatorUI(pair="ETHUSDC", verbose=False)
Sim

CarbonSimulatorUI(<0 positions, 0 trades>, pair='ETHUSDC')

In [4]:
Sim.add_sgl_pos("ETH", 100, 2000, 2000)["orders"]
Sim.add_sgl_pos("ETH", 100, 2000, 2000)["orders"]
Sim.state(pair="ETHUSDC")["orders"]

,id,pair,tkn_name,y_int,y,y_unit,p_start,p_end,p_unit,linked_to_id
0,0,ETHUSDC,ETH,100.000000,100.000000,ETH,2000.000000,2000.000000,USDC per ETH,0
1,1,ETHUSDC,ETH,100.000000,100.000000,ETH,2000.000000,2000.000000,USDC per ETH,1

In [5]:
Sim.add_sgl_pos("ETH", 100, 1/2000, 1/2000, pair="USDCETH")["orders"]
Sim.add_sgl_pos("ETH", 100, 1/2000, 1/2000, pair="USDCETH")["orders"]
Sim.state(pair="USDCETH")["orders"]

,id,pair,tkn_name,y_int,y,y_unit,p_start,p_end,p_unit,linked_to_id
2,2,USDCETH,ETH,100.000000,100.000000,ETH,0.000500,0.000500,ETH per USDC,2
3,3,USDCETH,ETH,100.000000,100.000000,ETH,0.000500,0.000500,ETH per USDC,3

In [6]:
Sim.state()["orders"]

,id,pair,tkn_name,y_int,y,y_unit,p_start,p_end,p_unit,linked_to_id
0,0,ETHUSDC,ETH,100.000000,100.000000,ETH,2000.000000,2000.000000,USDC per ETH,0
1,1,ETHUSDC,ETH,100.000000,100.000000,ETH,2000.000000,2000.000000,USDC per ETH,1
2,2,USDCETH,ETH,100.000000,100.000000,ETH,0.000500,0.000500,ETH per USDC,2
3,3,USDCETH,ETH,100.000000,100.000000,ETH,0.000500,0.000500,ETH per USDC,3

In [7]:
Sim.amm_sells("ETH", 10, pair="ETHUSDC", execute=False)["trades"]

,uid,id,sub_id,note,aggr,exec,amt1,tkn1,amt2,tkn2,pair,route_indexes,num_trades,price_avg,p_unit
0,0.0,0,0,route #0,False,False,2.5,ETH,5000.0,USDC,ETHUSDC,0,1,2000.0,USDC per ETH
0,0.1,0,1,route #1,False,False,2.5,ETH,5000.0,USDC,ETHUSDC,1,1,2000.0,USDC per ETH
0,0.2,0,2,route #2,False,False,2.5,ETH,5000.0,USDC,ETHUSDC,2,1,2000.0,USDC per ETH
0,0.3,0,3,route #3,False,False,2.5,ETH,5000.0,USDC,ETHUSDC,3,1,2000.0,USDC per ETH
0,0,0,A,AMM sells 10ETH buys 20000USDC,True,False,10.0,ETH,20000.0,USDC,ETHUSDC,"[0, 1, 2, 3]",4,2000.0,USDC per ETH

In [8]:
Sim.amm_sells("ETH", 10, pair="USDCETH", execute=False)["trades"]

,uid,id,sub_id,note,aggr,exec,amt1,tkn1,amt2,tkn2,pair,route_indexes,num_trades,price_avg,p_unit
0,1.0,1,0,route #0,False,False,2.5,ETH,5000.0,USDC,USDCETH,0,1,0.0005,ETH per USDC
0,1.1,1,1,route #1,False,False,2.5,ETH,5000.0,USDC,USDCETH,1,1,0.0005,ETH per USDC
0,1.2,1,2,route #2,False,False,2.5,ETH,5000.0,USDC,USDCETH,2,1,0.0005,ETH per USDC
0,1.3,1,3,route #3,False,False,2.5,ETH,5000.0,USDC,USDCETH,3,1,0.0005,ETH per USDC
0,1,1,A,AMM sells 10ETH buys 20000USDC,True,False,10.0,ETH,20000.0,USDC,USDCETH,"[0, 1, 2, 3]",4,0.0005,ETH per USDC