In [1]:
from carbon import CarbonSimulatorUI
from carbon.simulators.carbon_simulator import (
    __version__ as uiversion,
    __date__ as uidate,
)
from jupyformat import *

In [2]:
print("[carbon_simulator] version", uiversion, uidate)
jp()

[carbon_simulator] version 0.9.10.1 12/Nov/2022

# Carbon Simulation - Test 18

In [3]:
Sim = CarbonSimulatorUI(verbose=False, raiseonerror=False)
Sim

CarbonSimulatorUI(<0 positions, 0 trades>, pair='None')

## Single Positions

In [4]:
result = Sim.add_sgl_pos("ETH", 10, 2000, 3000, "ETHUSDC")
result = Sim.add_sgl_pos("ETH", 10, 2000, 3000, "ETHUSDC")
result = Sim.add_sgl_pos("ETH", 10, 2000, 3000, "ETHUSDC")
result = Sim.add_sgl_pos("ETH", 10, 2000, 2000, "ETHUSDC")

In [6]:
result

{'success': True,
 'orders':    id     pair tkn_name      y_int          y y_unit      p_start  \
 3   3  ETHUSDC      ETH  10.000000  10.000000    ETH  2000.000000

          p_end        p_unit  linked_to_id
 3  2000.000000  USDC per ETH             3  }

In [8]:
result

{'success': True,
 'orders':    id     pair tkn_name      y_int          y y_unit      p_start  \
 3   3  ETHUSDC      ETH  10.000000  10.000000    ETH  2000.000000

          p_end        p_unit  linked_to_id
 3  2000.000000  USDC per ETH             3  }

In [9]:
jw("I would like to see something like this here")

In [10]:
result1 = {
    "success": True,
    "orders": result["orders"].iloc[[-1,]],
    "curves": "TODO -- PUT THE CURVE OBJECT(S) HERE AS LIST OF CURVES",
}
result1

{'success': True,
 'orders':    id     pair tkn_name      y_int          y y_unit      p_start  \
 3   3  ETHUSDC      ETH  10.000000  10.000000    ETH  2000.000000

          p_end        p_unit  linked_to_id
 3  2000.000000  USDC per ETH             3  ,
 'curves': 'TODO -- PUT THE CURVE OBJECT(S) HERE AS LIST OF CURVES'}

In [11]:
result1["orders"]

,id,pair,tkn_name,y_int,y,y_unit,p_start,p_end,p_unit,linked_to_id
3,3,ETHUSDC,ETH,10.000000,10.000000,ETH,2000.000000,2000.000000,USDC per ETH,3

## Linked positions

In [12]:
Sim.add_linked_pos("USDC", 10, 2000, 3000, 1000, 500, 1000, "ETHUSDC")
Sim.add_linked_pos("USDC", 10, 2000, 3000, 1000, 500, 1000, "ETHUSDC")
Sim.add_linked_pos("USDC", 10, 2000, 3000, 1000, 500, 1000, "ETHUSDC")
result = Sim.add_linked_pos("USDC", 10, 2000, 2000, 1000, 1000, 1000, "ETHUSDC")

[_add_pos] swapped p_lo, p_hi
[_add_pos] swapped p_lo, p_hi
[_add_pos] swapped p_lo, p_hi

In [14]:
result

{'success': True,
 'orders':     id     pair tkn_name        y_int            y y_unit      p_start  \
 10  10  ETHUSDC     USDC    10.000000    10.000000   USDC  2000.000000
 11  11  ETHUSDC      ETH  1000.000000  1000.000000    ETH  1000.000000

           p_end        p_unit  linked_to_id
 10  2000.000000  USDC per ETH            11
 11  1000.000000  USDC per ETH            10  }

In [15]:
result["orders"]

,id,pair,tkn_name,y_int,y,y_unit,p_start,p_end,p_unit,linked_to_id
10,10,ETHUSDC,USDC,10.000000,10.000000,USDC,2000.000000,2000.000000,USDC per ETH,11
11,11,ETHUSDC,ETH,1000.000000,1000.000000,ETH,1000.000000,1000.000000,USDC per ETH,10

In [16]:
result1 = {
    "success": True,
    "orders": result["orders"].iloc[[-2,-1]],
    "curves": "TODO -- PUT THE CURVE OBJECT(S) HERE AS LIST OF CURVES",
}
result1

{'success': True,
 'orders':     id     pair tkn_name        y_int            y y_unit      p_start  \
 10  10  ETHUSDC     USDC    10.000000    10.000000   USDC  2000.000000
 11  11  ETHUSDC      ETH  1000.000000  1000.000000    ETH  1000.000000

           p_end        p_unit  linked_to_id
 10  2000.000000  USDC per ETH            11
 11  1000.000000  USDC per ETH            10  ,
 'curves': 'TODO -- PUT THE CURVE OBJECT(S) HERE AS LIST OF CURVES'}

In [17]:
result1["orders"]

,id,pair,tkn_name,y_int,y,y_unit,p_start,p_end,p_unit,linked_to_id
10,10,ETHUSDC,USDC,10.000000,10.000000,USDC,2000.000000,2000.000000,USDC per ETH,11
11,11,ETHUSDC,ETH,1000.000000,1000.000000,ETH,1000.000000,1000.000000,USDC per ETH,10

## Trading

In [18]:
result = Sim.amm_sells("ETH", 1, "ETHUSDC")
result = Sim.amm_sells("ETH", 1, "ETHUSDC")
result = Sim.amm_sells("ETH", 1, "ETHUSDC")
result = Sim.amm_sells("ETH", 1, "ETHUSDC")
result = Sim.amm_sells("ETH", 2, "ETHUSDC")

In [19]:
ji("This is fine already -- only shows the relevant trade data")

In [20]:
result["trades"]

,uid,id,sub_id,note,aggr,amt1,tkn1,amt2,tkn2,pair,route_indexes,num_trades,price_avg,p_unit
0,4.0,4,0,route #5,False,0.666667,ETH,333.659012,USDC,ETHUSDC,5,1,500.488517,USDC per ETH
0,4.1,4,1,route #7,False,0.666667,ETH,333.659012,USDC,ETHUSDC,7,1,500.488517,USDC per ETH
0,4.2,4,2,route #9,False,0.666667,ETH,333.659012,USDC,ETHUSDC,9,1,500.488517,USDC per ETH
0,4,4,None,AMM sells 2ETH buys 1001USDC,True,2.000000,ETH,1000.977035,USDC,ETHUSDC,"[5, 7, 9]",3,500.488517,USDC per ETH

In [21]:
Sim.state()["trades"]

,uid,id,sub_id,note,aggr,amt1,tkn1,amt2,tkn2,pair,route_indexes,num_trades,price_avg,p_unit
0,0.0,0,0,route #5,False,0.333333,ETH,166.682940,USDC,ETHUSDC,5,1,500.04882,USDC per ETH
0,0.1,0,1,route #7,False,0.333333,ETH,166.682940,USDC,ETHUSDC,7,1,500.04882,USDC per ETH
0,0.2,0,2,route #9,False,0.333333,ETH,166.682940,USDC,ETHUSDC,9,1,500.04882,USDC per ETH
0,0,0,None,AMM sells 1ETH buys 500USDC,True,1.000000,ETH,500.048820,USDC,ETHUSDC,"[5, 7, 9]",3,500.04882,USDC per ETH
0,1.0,1,0,route #5,False,0.333333,ETH,166.715493,USDC,ETHUSDC,5,1,500.14648,USDC per ETH
0,1.1,1,1,route #7,False,0.333333,ETH,166.715493,USDC,ETHUSDC,7,1,500.14648,USDC per ETH
0,1.2,1,2,route #9,False,0.333333,ETH,166.715493,USDC,ETHUSDC,9,1,500.14648,USDC per ETH
0,1,1,None,AMM sells 1ETH buys 500USDC,True,1.000000,ETH,500.146480,USDC,ETHUSDC,"[5, 7, 9]",3,500.14648,USDC per ETH
0,2.0,2,0,route #5,False,0.333333,ETH,166.748056,USDC,ETHUSDC,5,1,500.244168,USDC per ETH
0,2.1,2,1,route #7,False,0.333333,ETH,166.748056,USDC,ETHUSDC,7,1,500.244168,USDC per ETH
0,2.2,2,2,route #9,False,0.333333,ETH,166.748056,USDC,ETHUSDC,9,1,500.244168,USDC per ETH
0,2,2,None,AMM sells 1ETH buys 500USDC,True,1.000000,ETH,500.244168,USDC,ETHUSDC,"[5, 7, 9]",3,500.244168,USDC per ETH
0,3.0,3,0,route #5,False,0.333333,ETH,166.780628,USDC,ETHUSDC,5,1,500.341885,USDC per ETH
0,3.1,3,1,route #7,False,0.333333,ETH,166.780628,USDC,ETHUSDC,7,1,500.341885,USDC per ETH
0,3.2,3,2,route #9,False,0.333333,ETH,166.780628,USDC,ETHUSDC,9,1,500.341885,USDC per ETH
0,3,3,None,AMM sells 1ETH buys 500USDC,True,1.000000,ETH,500.341885,USDC,ETHUSDC,"[5, 7, 9]",3,500.341885,USDC per ETH
0,4.0,4,0,route #5,False,0.666667,ETH,333.659012,USDC,ETHUSDC,5,1,500.488517,USDC per ETH
0,4.1,4,1,route #7,False,0.666667,ETH,333.659012,USDC,ETHUSDC,7,1,500.488517,USDC per ETH
0,4.2,4,2,route #9,False,0.666667,ETH,333.659012,USDC,ETHUSDC,9,1,500.488517,USDC per ETH
0,4,4,None,AMM sells 2ETH buys 1001USDC,True,2.000000,ETH,1000.977035,USDC,ETHUSDC,"[5, 7, 9]",3,500.488517,USDC per ETH