In [1]:
from carbon import CarbonSimulatorUI
from carbon.simulators.carbon_simulator import (
    __version__ as uiversion,
    __date__ as uidate,
)
from jupyformat import *

In [2]:
print("[carbon_simulator] version", uiversion, uidate)
jp()

[carbon_simulator] version 0.9.10.1 12/Nov/2022

# Carbon Simulation - Test 26

In [3]:
Sim = CarbonSimulatorUI(pair="ETHUSDC", raiseonerror=True, verbose=True)
Sim

[__init__] pair=ETHUSDC, verbose=True, raiseonerror=True

CarbonSimulatorUI(<0 positions, 0 trades>, pair='ETHUSDC')

In [4]:
#Sim.add_sgl_pos("LINK", 100, 2000, 2000)

In [5]:
Sim.add_sgl_pos("ETH", 10, 2000, 3000)
Sim.add_sgl_pos("ETH", 10, 2000, 2500)
Sim.add_sgl_pos("USDC", 10000, 1000, 500)
Sim.add_sgl_pos("USDC", 10000, 1000, 750)
Sim

[add_sgl_pos] added position: tkn=ETH, amt=10, p_lo=2000, p_hi=3000, pair=ETHUSDC
[add_sgl_pos] added position: tkn=ETH, amt=10, p_lo=2000, p_hi=2500, pair=ETHUSDC
[add_sgl_pos] added position: tkn=USDC, amt=10000, p_lo=1000, p_hi=500, pair=ETHUSDC
[add_sgl_pos] added position: tkn=USDC, amt=10000, p_lo=1000, p_hi=750, pair=ETHUSDC

CarbonSimulatorUI(<4 positions, 0 trades>, pair='ETHUSDC')

In [6]:
Sim.state()["orders"]

,id,pair,tkn_name,y_int,y,y_unit,p_start,p_end,p_unit,linked_to_id
0,0,ETHUSDC,ETH,10.000000,10.000000,ETH,2000.000000,3000.000000,USDC per ETH,0
1,1,ETHUSDC,ETH,10.000000,10.000000,ETH,2000.000000,2500.000000,USDC per ETH,1
2,2,ETHUSDC,USDC,10000.000000,10000.000000,USDC,1000.000000,500.000000,USDC per ETH,2
3,3,ETHUSDC,USDC,10000.000000,10000.000000,USDC,1000.000000,750.000000,USDC per ETH,3

In [7]:
Sim.amm_sells("ETH", 1)["trades"]

AMM sells 1ETH buys 2013USDC  (2 routes)

,uid,id,sub_id,note,aggr,amt1,tkn1,amt2,tkn2,pair,route_indexes,num_trades,price_avg,p_unit
0,0.0,0,0,route #0,False,0.365208,ETH,735.343053,USDC,ETHUSDC,0,1,2013.493796,USDC per ETH
0,0.1,0,1,route #1,False,0.634792,ETH,1278.150744,USDC,ETHUSDC,1,1,2013.493796,USDC per ETH
0,0,0,None,AMM sells 1ETH buys 2013USDC,True,1.000000,ETH,2013.493796,USDC,ETHUSDC,"[0, 1]",2,2013.493796,USDC per ETH

In [8]:
Sim.amm_buys("ETH", 1)["trades"]

AMM sells 991USDC buys 1ETH  (2 routes)

,uid,id,sub_id,note,aggr,amt1,tkn1,amt2,tkn2,pair,route_indexes,num_trades,price_avg,p_unit
0,1.0,1,0,route #2,False,310.996133,USDC,0.313855,ETH,ETHUSDC,2,1,990.891134,USDC per ETH
0,1.1,1,1,route #3,False,679.895002,USDC,0.686145,ETH,ETHUSDC,3,1,990.891134,USDC per ETH
0,1,1,None,AMM sells 991USDC buys 1ETH,True,990.891134,USDC,1.000000,ETH,ETHUSDC,"[2, 3]",2,990.891134,USDC per ETH

In [9]:
Sim.amm_sells("USDC", 1)["trades"]

AMM sells 1USDC buys 0ETH  (2 routes)

,uid,id,sub_id,note,aggr,amt1,tkn1,amt2,tkn2,pair,route_indexes,num_trades,price_avg,p_unit
0,2.0,2,0,route #2,False,0.313855,USDC,0.000320,ETH,ETHUSDC,2,1,981.856131,USDC per ETH
0,2.1,2,1,route #3,False,0.686145,USDC,0.000699,ETH,ETHUSDC,3,1,981.856131,USDC per ETH
0,2,2,None,AMM sells 1USDC buys 0ETH,True,1.000000,USDC,0.001018,ETH,ETHUSDC,"[2, 3]",2,981.856131,USDC per ETH

In [10]:
Sim.amm_buys("USDC", 1)["trades"]

AMM sells 0ETH buys 1USDC  (2 routes)

,uid,id,sub_id,note,aggr,amt1,tkn1,amt2,tkn2,pair,route_indexes,num_trades,price_avg,p_unit
0,3.0,3,0,route #0,False,0.000180,ETH,0.364211,USDC,ETHUSDC,0,1,2027.08538,USDC per ETH
0,3.1,3,1,route #1,False,0.000314,ETH,0.635789,USDC,ETHUSDC,1,1,2027.08538,USDC per ETH
0,3,3,None,AMM sells 0ETH buys 1USDC,True,0.000493,ETH,1.000000,USDC,ETHUSDC,"[0, 1]",2,2027.08538,USDC per ETH

In [11]:
ji("we see a few things below (1) all trades are routed through two positions, (2) the marginal prices along the routes are the same (3) the tighter ranges get more volume (4) the earlier trades get a better price, and of course (5) buying ETH is arounf 1000, and selling around 2000 ")

In [12]:
Sim.state()["trades"]

,uid,id,sub_id,note,aggr,amt1,tkn1,amt2,tkn2,pair,route_indexes,num_trades,price_avg,p_unit
0,0.0,0,0,route #0,False,0.365208,ETH,735.343053,USDC,ETHUSDC,0,1,2013.493796,USDC per ETH
0,0.1,0,1,route #1,False,0.634792,ETH,1278.150744,USDC,ETHUSDC,1,1,2013.493796,USDC per ETH
0,0,0,None,AMM sells 1ETH buys 2013USDC,True,1.000000,ETH,2013.493796,USDC,ETHUSDC,"[0, 1]",2,2013.493796,USDC per ETH
0,1.0,1,0,route #2,False,310.996133,USDC,0.313855,ETH,ETHUSDC,2,1,990.891134,USDC per ETH
0,1.1,1,1,route #3,False,679.895002,USDC,0.686145,ETH,ETHUSDC,3,1,990.891134,USDC per ETH
0,1,1,None,AMM sells 991USDC buys 1ETH,True,990.891134,USDC,1.000000,ETH,ETHUSDC,"[2, 3]",2,990.891134,USDC per ETH
0,2.0,2,0,route #2,False,0.313855,USDC,0.000320,ETH,ETHUSDC,2,1,981.856131,USDC per ETH
0,2.1,2,1,route #3,False,0.686145,USDC,0.000699,ETH,ETHUSDC,3,1,981.856131,USDC per ETH
0,2,2,None,AMM sells 1USDC buys 0ETH,True,1.000000,USDC,0.001018,ETH,ETHUSDC,"[2, 3]",2,981.856131,USDC per ETH
0,3.0,3,0,route #0,False,0.000180,ETH,0.364211,USDC,ETHUSDC,0,1,2027.08538,USDC per ETH
0,3.1,3,1,route #1,False,0.000314,ETH,0.635789,USDC,ETHUSDC,1,1,2027.08538,USDC per ETH
0,3,3,None,AMM sells 0ETH buys 1USDC,True,0.000493,ETH,1.000000,USDC,ETHUSDC,"[0, 1]",2,2027.08538,USDC per ETH

In [13]:
Sim.state()["orders"]

,id,pair,tkn_name,y_int,y,y_unit,p_start,p_end,p_unit,linked_to_id
0,0,ETHUSDC,ETH,10.000000,9.634612,ETH,2000.000000,3000.000000,USDC per ETH,0
1,1,ETHUSDC,ETH,10.000000,9.364894,ETH,2000.000000,2500.000000,USDC per ETH,1
2,2,ETHUSDC,USDC,10000.000000,9688.690012,USDC,1000.000000,500.000000,USDC per ETH,2
3,3,ETHUSDC,USDC,10000.000000,9319.418853,USDC,1000.000000,750.000000,USDC per ETH,3