In [1]:
from carbon import CarbonSimulatorUI, P, __version__, __date__
print(f"Carbon v{__version__} ({__date__})")
print("{0.__name__} v{0.__VERSION__} ({0.__DATE__})".format(CarbonSimulatorUI))

Carbon v2.0-beta2 (8/Dec/2022)
CarbonSimulatorUI v2.2 (8/Dec/2022)

# Carbon Simulation - Test 41 - Disabled Strategies and Orders

In [2]:
Sim = CarbonSimulatorUI(pair="ETH/USDC", raiseonerror=True)
Sim

CarbonSimulatorUI(<0 orders, 0 trades>, pair='ETH/USDC', mm='exact', xf=True)

## Disabled Orders
### Base token

In [3]:
o = Sim.add_order("ETH", 100, 2000, 3000)["orders"]
assert(o.iloc[0]["y"] == 100)
assert(o.iloc[0]["y_int"] == 100)
assert(o.iloc[0]["p_start"] == 2000)
assert(o.iloc[0]["p_end"] == 3000)
assert(o.iloc[0]["disabled"] == False)
assert(o.iloc[0]["p_unit"] == "USDC per ETH")
o

,id,pair,tkn,y_int,y,y_unit,disabled,p_start,p_end,p_marg,p_unit,lid
0,0,ETHUSDC,ETH,100.0,100.0,ETH,False,2000.0,3000.0,2000.0,USDC per ETH,1
1,1,ETHUSDC,USDC,0.0,0.0,USDC,True,None,None,None,USDC per ETH,0

In [4]:
o = Sim.add_order("ETH", None, 2000, 3000)["orders"]
assert(o.iloc[0]["y"] == 0)
assert(o.iloc[0]["y_int"] == 0)
assert(o.iloc[0]["p_start"] == 2000)
assert(o.iloc[0]["p_end"] == 3000)
assert(o.iloc[0]["disabled"] == False)
o

,id,pair,tkn,y_int,y,y_unit,disabled,p_start,p_end,p_marg,p_unit,lid
2,2,ETHUSDC,ETH,0.0,0.0,ETH,False,2000.0,3000.0,2000.0,USDC per ETH,3
3,3,ETHUSDC,USDC,0.0,0.0,USDC,True,None,None,None,USDC per ETH,2

In [5]:
o = Sim.add_order("ETH", None, 3000, 2000)["orders"]
assert(o.iloc[0]["p_start"] == 2000)
assert(o.iloc[0]["p_end"] == 3000)
o

WARNING: swapped start and end of the range

,id,pair,tkn,y_int,y,y_unit,disabled,p_start,p_end,p_marg,p_unit,lid
4,4,ETHUSDC,ETH,0.0,0.0,ETH,False,2000.0,3000.0,2000.0,USDC per ETH,5
5,5,ETHUSDC,USDC,0.0,0.0,USDC,True,None,None,None,USDC per ETH,4

In [6]:
o = Sim.add_order("ETH", 1, None, None)["orders"]
assert(o.iloc[0]["y"] == 1)
assert(o.iloc[0]["y_int"] == 1)
assert(o.iloc[0]["disabled"] == True)
assert(o.iloc[0]["p_start"] is None)
assert(o.iloc[0]["p_end"] is None)
assert(o.iloc[0]["p_marg"] is None)
o

,id,pair,tkn,y_int,y,y_unit,disabled,p_start,p_end,p_marg,p_unit,lid
6,6,ETHUSDC,ETH,1.0,1.0,ETH,True,None,None,None,USDC per ETH,7
7,7,ETHUSDC,USDC,0.0,0.0,USDC,True,None,None,None,USDC per ETH,6

In [7]:
o = Sim.add_order("ETH", None, None, None)["orders"]
assert(o.iloc[0]["y"] == 0)
assert(o.iloc[0]["y_int"] == 0)
o

,id,pair,tkn,y_int,y,y_unit,disabled,p_start,p_end,p_marg,p_unit,lid
8,8,ETHUSDC,ETH,0.0,0.0,ETH,True,None,None,None,USDC per ETH,9
9,9,ETHUSDC,USDC,0.0,0.0,USDC,True,None,None,None,USDC per ETH,8

### Quote token

In [8]:
o = Sim.add_order("USDC", 1000, 1000, 750)["orders"]
assert(o.iloc[0]["y"] == 1000)
assert(o.iloc[0]["y_int"] == 1000)
assert(o.iloc[0]["p_start"] == 1000)
assert(o.iloc[0]["p_end"] == 750)
assert(o.iloc[0]["disabled"] == False)
assert(o.iloc[0]["p_unit"] == "USDC per ETH")
o

,id,pair,tkn,y_int,y,y_unit,disabled,p_start,p_end,p_marg,p_unit,lid
10,10,ETHUSDC,USDC,1000.0,1000.0,USDC,False,1000.0,750.0,1000.0,USDC per ETH,11
11,11,ETHUSDC,ETH,0.0,0.0,ETH,True,None,None,None,USDC per ETH,10

In [9]:
o = Sim.add_order("USDC", None, 1000, 750)["orders"]
assert(o.iloc[0]["y"] == 0)
assert(o.iloc[0]["y_int"] == 0)
assert(o.iloc[0]["p_start"] == 1000)
assert(o.iloc[0]["p_end"] == 750)
assert(o.iloc[0]["disabled"] == False)
o

,id,pair,tkn,y_int,y,y_unit,disabled,p_start,p_end,p_marg,p_unit,lid
12,12,ETHUSDC,USDC,0.0,0.0,USDC,False,1000.0,750.0,1000.0,USDC per ETH,13
13,13,ETHUSDC,ETH,0.0,0.0,ETH,True,None,None,None,USDC per ETH,12

In [10]:
o = Sim.add_order("USDC", None, 750, 1000)["orders"]
assert(o.iloc[0]["p_start"] == 1000)
assert(o.iloc[0]["p_end"] == 750)
o

WARNING: swapped start and end of the range

,id,pair,tkn,y_int,y,y_unit,disabled,p_start,p_end,p_marg,p_unit,lid
14,14,ETHUSDC,USDC,0.0,0.0,USDC,False,1000.0,750.0,1000.0,USDC per ETH,15
15,15,ETHUSDC,ETH,0.0,0.0,ETH,True,None,None,None,USDC per ETH,14

In [11]:
o = Sim.add_order("USDC", 1000, None, None)["orders"]
assert(o.iloc[0]["y"] == 1000)
assert(o.iloc[0]["y_int"] == 1000)
assert(o.iloc[0]["disabled"] == True)
assert(o.iloc[0]["p_start"] is None)
assert(o.iloc[0]["p_end"] is None)
assert(o.iloc[0]["p_marg"] is None)
o

,id,pair,tkn,y_int,y,y_unit,disabled,p_start,p_end,p_marg,p_unit,lid
16,16,ETHUSDC,USDC,1000.0,1000.0,USDC,True,None,None,None,USDC per ETH,17
17,17,ETHUSDC,ETH,0.0,0.0,ETH,True,None,None,None,USDC per ETH,16

In [12]:
o = Sim.add_order("USDC", None, None, None)["orders"]
assert(o.iloc[0]["y"] == 0)
assert(o.iloc[0]["y_int"] == 0)
o

,id,pair,tkn,y_int,y,y_unit,disabled,p_start,p_end,p_marg,p_unit,lid
18,18,ETHUSDC,USDC,0.0,0.0,USDC,True,None,None,None,USDC per ETH,19
19,19,ETHUSDC,ETH,0.0,0.0,ETH,True,None,None,None,USDC per ETH,18

### Fails

In [13]:
try:
    Sim.add_order("USDC", 10, None, 1000)
except ValueError as e:
    print(e)
    assert(str(e)=="('p_lo, p_hi must either be both None or both numbers', 1000, None)")

('p_lo, p_hi must either be both None or both numbers', 1000, None)

In [14]:
try:
    Sim.add_order("ETH", 10, 2000, None)
except ValueError as e:
    print(e)
    assert(str(e)=="('p_lo, p_hi must either be both None or both numbers', None, 0.0005)")

('p_lo, p_hi must either be both None or both numbers', None, 0.0005)

## Disabled Strategies
### Base token

In [15]:
o = Sim.add_strategy("ETH", 10, 2000, 3000, 1000, 1000, 750)["orders"]
assert(o.iloc[0]["disabled"] == False)
assert(o.iloc[1]["disabled"] == False)
assert(o.iloc[0]["p_start"] == 2000)
assert(o.iloc[1]["p_start"] == 1000)
assert(o.iloc[0]["p_end"] == 3000)
assert(o.iloc[1]["p_end"] == 750)
o

,id,pair,tkn,y_int,y,y_unit,disabled,p_start,p_end,p_marg,p_unit,lid
24,24,ETHUSDC,ETH,10.0,10.0,ETH,False,2000.0,3000.0,2000.0,USDC per ETH,25
25,25,ETHUSDC,USDC,1000.0,1000.0,USDC,False,1000.0,750.0,1000.0,USDC per ETH,24

In [16]:
o = Sim.add_strategy("ETH", 10, 3000, 2000, 1000, 750, 1000)["orders"]
assert(o.iloc[0]["p_start"] == 2000)
assert(o.iloc[1]["p_start"] == 1000)
assert(o.iloc[0]["p_end"] == 3000)
assert(o.iloc[1]["p_end"] == 750)
o

WARNING: swapped start and end of the range
WARNING: swapped start and end of the range

,id,pair,tkn,y_int,y,y_unit,disabled,p_start,p_end,p_marg,p_unit,lid
26,26,ETHUSDC,ETH,10.0,10.0,ETH,False,2000.0,3000.0,2000.0,USDC per ETH,27
27,27,ETHUSDC,USDC,1000.0,1000.0,USDC,False,1000.0,750.0,1000.0,USDC per ETH,26

In [17]:
o = Sim.add_strategy("ETH", None, 2000, 3000, None, 1000, 750)["orders"]
assert(o.iloc[0]["disabled"] == False)
assert(o.iloc[1]["disabled"] == False)
o

,id,pair,tkn,y_int,y,y_unit,disabled,p_start,p_end,p_marg,p_unit,lid
28,28,ETHUSDC,ETH,0.0,0.0,ETH,False,2000.0,3000.0,2000.0,USDC per ETH,29
29,29,ETHUSDC,USDC,0.0,0.0,USDC,False,1000.0,750.0,1000.0,USDC per ETH,28

In [18]:
o = Sim.add_strategy("ETH", 10, None, None, 1100, 1000, 750)["orders"]
assert(o.iloc[0]["y"] == 10)
assert(o.iloc[1]["y"] == 1100)
assert(o.iloc[0]["disabled"] == True)
assert(o.iloc[1]["disabled"] == False)
o

,id,pair,tkn,y_int,y,y_unit,disabled,p_start,p_end,p_marg,p_unit,lid
30,30,ETHUSDC,ETH,10.0,10.0,ETH,True,None,None,None,USDC per ETH,31
31,31,ETHUSDC,USDC,1100.0,1100.0,USDC,False,1000.0,750.0,1000.0,USDC per ETH,30

In [19]:
o = Sim.add_strategy("ETH", 10, 2000, 3000, 1100, None, None)["orders"]
assert(o.iloc[0]["y"] == 10)
assert(o.iloc[1]["y"] == 1100)
assert(o.iloc[0]["disabled"] == False)
assert(o.iloc[1]["disabled"] == True)
o

,id,pair,tkn,y_int,y,y_unit,disabled,p_start,p_end,p_marg,p_unit,lid
32,32,ETHUSDC,ETH,10.0,10.0,ETH,False,2000.0,3000.0,2000.0,USDC per ETH,33
33,33,ETHUSDC,USDC,1100.0,1100.0,USDC,True,None,None,None,USDC per ETH,32

### Quote token

In [20]:
o = Sim.add_strategy("USDC", 1000, 1000, 750, 10, 2000, 3000)["orders"]
assert(o.iloc[0]["disabled"] == False)
assert(o.iloc[1]["disabled"] == False)
assert(o.iloc[1]["p_start"] == 2000)
assert(o.iloc[0]["p_start"] == 1000)
assert(o.iloc[1]["p_end"] == 3000)
assert(o.iloc[0]["p_end"] == 750)
o

,id,pair,tkn,y_int,y,y_unit,disabled,p_start,p_end,p_marg,p_unit,lid
34,34,ETHUSDC,USDC,1000.0,1000.0,USDC,False,1000.0,750.0,1000.0,USDC per ETH,35
35,35,ETHUSDC,ETH,10.0,10.0,ETH,False,2000.0,3000.0,2000.0,USDC per ETH,34

In [21]:
o = Sim.add_strategy("USDC", 1000, 750, 1000, 10, 3000, 2000)["orders"]
assert(o.iloc[0]["disabled"] == False)
assert(o.iloc[1]["disabled"] == False)
assert(o.iloc[1]["p_start"] == 2000)
assert(o.iloc[0]["p_start"] == 1000)
assert(o.iloc[1]["p_end"] == 3000)
assert(o.iloc[0]["p_end"] == 750)
o

WARNING: swapped start and end of the range
WARNING: swapped start and end of the range

,id,pair,tkn,y_int,y,y_unit,disabled,p_start,p_end,p_marg,p_unit,lid
36,36,ETHUSDC,USDC,1000.0,1000.0,USDC,False,1000.0,750.0,1000.0,USDC per ETH,37
37,37,ETHUSDC,ETH,10.0,10.0,ETH,False,2000.0,3000.0,2000.0,USDC per ETH,36

In [22]:
o = Sim.add_strategy("USDC", 1100, None, None, 10, 2000, 3000)["orders"]
assert(o.iloc[0]["disabled"] == True)
assert(o.iloc[1]["disabled"] == False)
assert(o.iloc[0]["y"] == 1100)
assert(o.iloc[1]["y"] == 10)
o

,id,pair,tkn,y_int,y,y_unit,disabled,p_start,p_end,p_marg,p_unit,lid
38,38,ETHUSDC,USDC,1100.0,1100.0,USDC,True,None,None,None,USDC per ETH,39
39,39,ETHUSDC,ETH,10.0,10.0,ETH,False,2000.0,3000.0,2000.0,USDC per ETH,38

In [23]:
o = Sim.add_strategy("USDC", 1100, None, None, 10, None, None)["orders"]
assert(o.iloc[0]["disabled"] == True)
assert(o.iloc[1]["disabled"] == True)
assert(o.iloc[0]["y"] == 1100)
assert(o.iloc[1]["y"] == 10)
o

,id,pair,tkn,y_int,y,y_unit,disabled,p_start,p_end,p_marg,p_unit,lid
40,40,ETHUSDC,USDC,1100.0,1100.0,USDC,True,None,None,None,USDC per ETH,41
41,41,ETHUSDC,ETH,10.0,10.0,ETH,True,None,None,None,USDC per ETH,40

## Trading

In [24]:
Sim = CarbonSimulatorUI(pair="ETH/USDC", raiseonerror=True)
Sim.add_strategy("ETH", 10, 2000, 3000, 1000, 1000, 750)
Sim.add_strategy("ETH", 10, None, None, 1000, 1000, 750)
Sim.add_strategy("ETH", 10, 2000, 3000, 1000, None, None)
Sim.add_strategy("ETH", None, 2000, 3000, None, 1000, 750)
assert len(Sim.state()["orders"]) == 8
Sim.state()["orders"]

,id,pair,tkn,y_int,y,y_unit,disabled,p_start,p_end,p_marg,p_unit,lid
0,0,ETHUSDC,ETH,10.0,10.0,ETH,False,2000.0,3000.0,2000.0,USDC per ETH,1
1,1,ETHUSDC,USDC,1000.0,1000.0,USDC,False,1000.0,750.0,1000.0,USDC per ETH,0
2,2,ETHUSDC,ETH,10.0,10.0,ETH,True,None,None,None,USDC per ETH,3
3,3,ETHUSDC,USDC,1000.0,1000.0,USDC,False,1000.0,750.0,1000.0,USDC per ETH,2
4,4,ETHUSDC,ETH,10.0,10.0,ETH,False,2000.0,3000.0,2000.0,USDC per ETH,5
5,5,ETHUSDC,USDC,1000.0,1000.0,USDC,True,None,None,None,USDC per ETH,4
6,6,ETHUSDC,ETH,0.0,0.0,ETH,False,2000.0,3000.0,2000.0,USDC per ETH,7
7,7,ETHUSDC,USDC,0.0,0.0,USDC,False,1000.0,750.0,1000.0,USDC per ETH,6

In [25]:
s = Sim.state()["orders"].query("disabled==False").query("y>0")
assert list(s["id"]) == [0,1,3,4]
s

,id,pair,tkn,y_int,y,y_unit,disabled,p_start,p_end,p_marg,p_unit,lid
0,0,ETHUSDC,ETH,10.0,10.0,ETH,False,2000.0,3000.0,2000.0,USDC per ETH,1
1,1,ETHUSDC,USDC,1000.0,1000.0,USDC,False,1000.0,750.0,1000.0,USDC per ETH,0
3,3,ETHUSDC,USDC,1000.0,1000.0,USDC,False,1000.0,750.0,1000.0,USDC per ETH,2
4,4,ETHUSDC,ETH,10.0,10.0,ETH,False,2000.0,3000.0,2000.0,USDC per ETH,5

In [26]:
t = Sim.amm_sells("ETH", 10)["trades"]
assert list(t["routeix"])[:-1] == [0,4]
t

,uid,id,subid,note,aggr,exec,limitfail,amt1,tkn1,amt2,tkn2,pair,routeix,nroutes,price,p_unit
0,0.0,0,0,route #0,False,True,None,5.0,ETH,11010.205144,USDC,ETHUSDC,0,1,2202.041029,USDC per ETH
0,0.1,0,1,route #4,False,True,None,5.0,ETH,11010.205144,USDC,ETHUSDC,4,1,2202.041029,USDC per ETH
0,0,0,A,AMM sells 10ETH buys 22020USDC,True,True,None,10.0,ETH,22020.410289,USDC,ETHUSDC,"[0, 4]",2,2202.041029,USDC per ETH

In [27]:
s = Sim.state()["orders"].query("disabled==False").query("y>0")
s

,id,pair,tkn,y_int,y,y_unit,disabled,p_start,p_end,p_marg,p_unit,lid
0,0,ETHUSDC,ETH,10.000000,5.000000,ETH,False,2000.0,3000.0,2424.492346,USDC per ETH,1
1,1,ETHUSDC,USDC,12010.205144,12010.205144,USDC,False,1000.0,750.0,1000.0,USDC per ETH,0
3,3,ETHUSDC,USDC,1000.000000,1000.000000,USDC,False,1000.0,750.0,1000.0,USDC per ETH,2
4,4,ETHUSDC,ETH,10.000000,5.000000,ETH,False,2000.0,3000.0,2424.492346,USDC per ETH,5

In [28]:
t = Sim.amm_sells("USDC", 1000)["trades"]
assert list(t["routeix"])[:-1] == [1,3]
t

,uid,id,subid,note,aggr,exec,limitfail,amt1,tkn1,amt2,tkn2,pair,routeix,nroutes,price,p_unit
0,1.0,1,0,route #1,False,True,None,923.137261,USDC,0.932742,ETH,ETHUSDC,1,1,989.702346,USDC per ETH
0,1.1,1,1,route #3,False,True,None,76.862739,USDC,0.077662,ETH,ETHUSDC,3,1,989.702346,USDC per ETH
0,1,1,A,AMM sells 1000USDC buys 1ETH,True,True,None,1000.000000,USDC,1.010405,ETH,ETHUSDC,"[1, 3]",2,989.702346,USDC per ETH