In [1]:
from carbon import CarbonSimulatorUI, CarbonPair, P, __version__, __date__
print(f"Carbon v{__version__} ({__date__})")
print("{0.__name__} v{0.__VERSION__} ({0.__DATE__})".format(CarbonSimulatorUI))

Carbon v2.0-beta2 (8/Dec/2022)
CarbonSimulatorUI v2.2 (8/Dec/2022)

# Carbon Simulation - Test 33 - CarbonPair

just checking we can add a CarbonPair

## CarbonPair

In [2]:
Sim = CarbonSimulatorUI(pair=CarbonPair("ETH/USDC"))
Sim

CarbonSimulatorUI(<0 orders, 0 trades>, pair='ETH/USDC', mm='exact', xf=True)

In [3]:
assert (Sim.default_basetoken, Sim.default_quotetoken) == ('ETH', 'USDC')

In [4]:
assert (Sim.tknb, Sim.tknq) == ('ETH', 'USDC')

In [5]:
Sim.add_order("ETH", 10, 2000, 3000)["orders"]
Sim.add_order("ETH", 10, 2000, 2500)["orders"]
r = Sim.state()["orders"]
assert list(r["pair"]) == ["ETHUSDC"]*4
r

,id,pair,tkn,y_int,y,y_unit,disabled,p_start,p_end,p_marg,p_unit,lid
0,0,ETHUSDC,ETH,10.0,10.0,ETH,False,2000.0,3000.0,2000.0,USDC per ETH,1
1,1,ETHUSDC,USDC,0.0,0.0,USDC,True,None,None,None,USDC per ETH,0
2,2,ETHUSDC,ETH,10.0,10.0,ETH,False,2000.0,2500.0,2000.0,USDC per ETH,3
3,3,ETHUSDC,USDC,0.0,0.0,USDC,True,None,None,None,USDC per ETH,2

In [6]:
r = Sim.amm_sells("ETH", 1)["trades"]
assert list(r["p_unit"]) == ["USDC per ETH"]*3
r

,uid,id,subid,note,aggr,exec,limitfail,amt1,tkn1,amt2,tkn2,pair,routeix,nroutes,price,p_unit
0,0.0,0,0,route #0,False,True,None,0.365208,ETH,735.343053,USDC,ETHUSDC,0,1,2013.493796,USDC per ETH
0,0.1,0,1,route #2,False,True,None,0.634792,ETH,1278.150744,USDC,ETHUSDC,2,1,2013.493796,USDC per ETH
0,0,0,A,AMM sells 1ETH buys 2013USDC,True,True,None,1.000000,ETH,2013.493796,USDC,ETHUSDC,"[0, 2]",2,2013.493796,USDC per ETH

In [7]:
Sim.state()["orders"]

,id,pair,tkn,y_int,y,y_unit,disabled,p_start,p_end,p_marg,p_unit,lid
0,0,ETHUSDC,ETH,10.000000,9.634792,ETH,False,2000.0,3000.0,2027.078671,USDC per ETH,1
1,1,ETHUSDC,USDC,735.343053,735.343053,USDC,True,None,None,None,USDC per ETH,0
2,2,ETHUSDC,ETH,10.000000,9.365208,ETH,False,2000.0,2500.0,2027.078613,USDC per ETH,3
3,3,ETHUSDC,USDC,1278.150744,1278.150744,USDC,True,None,None,None,USDC per ETH,2