In [17]:
from carbon import CarbonSimulatorUI, P, __version__, __date__
print(f"Carbon v{__version__} ({__date__})")
print("{0.__name__} v{0.__VERSION__} ({0.__DATE__})".format(CarbonSimulatorUI))

Carbon v2.0-beta2 (8/Dec/2022)
CarbonSimulatorUI v2.2 (8/Dec/2022)

# Carbon Simulation - Test 40 - PairInSim

NBTEST: NOTEST_DEFAULT = TEST

In [18]:
ETHUSDC = P("ETH/USDC")

## Pair without CarbonPair defaults

In [19]:
Sim = CarbonSimulatorUI(raiseonerror=True)
assert(Sim.slashpair is None)
Sim

CarbonSimulatorUI(<0 orders, 0 trades>, pair=None, mm='exact', xf=True)

In [20]:
try:
    Sim.add_order("ETH", 10, 2000, 3000)
except ValueError as e:
    print(e)
    assert(str(e)=="Pair must be provided in function or simulation defaults")

Pair must be provided in function or simulation defaults

In [21]:
try:
    Sim.add_order("ETH", 10, 2000, 3000, pair="ETHUSDC")["orders"]
except ValueError as e:
    print(e)
    assert(str(e)=="('Illegal slashpair', 'ETHUSDC')")

('Illegal slashpair', 'ETHUSDC')

In [22]:
try:
    Sim.add_order("LINK", 10, 2000, 3000, pair=ETHUSDC)
except ValueError as e:
    print(e)
    assert str(e) == "('Token not in pair', 'LINK', 'ETH/USDC', 'ETH/USDC')"

('Token not in pair', 'LINK', 'ETH/USDC', 'ETH/USDC')

In [23]:
o = Sim.add_order("ETH", 10, 2000, 3000, pair=ETHUSDC)["orders"]
assert(o.iloc[0]["pair"]=="ETHUSDC")
assert(o.iloc[0]["tkn"]=="ETH")
assert(o.iloc[0]["p_unit"]=="USDC per ETH")
o

,id,pair,tkn,y_int,y,y_unit,disabled,p_start,p_end,p_marg,p_unit,lid
0,0,ETHUSDC,ETH,10.0,10.0,ETH,False,2000.0,3000.0,2000.0,USDC per ETH,1
1,1,ETHUSDC,USDC,0.0,0.0,USDC,True,None,None,None,USDC per ETH,0

In [24]:
Sim.add_order("ETH", 10, 2000, 3000, pair="ETH/USDC")["orders"]

,id,pair,tkn,y_int,y,y_unit,disabled,p_start,p_end,p_marg,p_unit,lid
2,2,ETHUSDC,ETH,10.0,10.0,ETH,False,2000.0,3000.0,2000.0,USDC per ETH,3
3,3,ETHUSDC,USDC,0.0,0.0,USDC,True,None,None,None,USDC per ETH,2

In [25]:
try:
    Sim.add_strategy("ETH", 10, 2000, 3000, 10000, 1000, 750)["orders"]
except ValueError as e:
    print(e)
    assert(str(e)=="Pair must be provided in function or simulation defaults")

Pair must be provided in function or simulation defaults

In [26]:
Sim.add_strategy("ETH", 10, 2000, 3000, 10000, 1000, 750, pair="ETH/USDC")["orders"]

,id,pair,tkn,y_int,y,y_unit,disabled,p_start,p_end,p_marg,p_unit,lid
4,4,ETHUSDC,ETH,10.0,10.0,ETH,False,2000.0,3000.0,2000.0,USDC per ETH,5
5,5,ETHUSDC,USDC,10000.0,10000.0,USDC,False,1000.0,750.0,1000.0,USDC per ETH,4

## Pair with CarbonPair defaults

In [27]:
SimP = CarbonSimulatorUI(pair="ETH/USDC", raiseonerror=True)
assert(SimP.slashpair=="ETH/USDC")
SimP

CarbonSimulatorUI(<0 orders, 0 trades>, pair='ETH/USDC', mm='exact', xf=True)

In [28]:
o = SimP.add_order("ETH", 10, 2000, 3000)["orders"]
assert(o.iloc[0]["pair"]=="ETHUSDC")
assert(o.iloc[0]["tkn"]=="ETH")
assert(o.iloc[0]["p_unit"]=="USDC per ETH")
o

,id,pair,tkn,y_int,y,y_unit,disabled,p_start,p_end,p_marg,p_unit,lid
0,0,ETHUSDC,ETH,10.0,10.0,ETH,False,2000.0,3000.0,2000.0,USDC per ETH,1
1,1,ETHUSDC,USDC,0.0,0.0,USDC,True,None,None,None,USDC per ETH,0

In [29]:
o = SimP.add_order("ETH", 10, 2000, 3000, pair=ETHUSDC)["orders"]
assert(o.iloc[0]["pair"]=="ETHUSDC")
assert(o.iloc[0]["tkn"]=="ETH")
assert(o.iloc[0]["p_unit"]=="USDC per ETH")
o

,id,pair,tkn,y_int,y,y_unit,disabled,p_start,p_end,p_marg,p_unit,lid
2,2,ETHUSDC,ETH,10.0,10.0,ETH,False,2000.0,3000.0,2000.0,USDC per ETH,3
3,3,ETHUSDC,USDC,0.0,0.0,USDC,True,None,None,None,USDC per ETH,2

In [30]:
SimP.add_order("ETH", 10, 2000, 3000, pair="ETH/USDC")["orders"]

,id,pair,tkn,y_int,y,y_unit,disabled,p_start,p_end,p_marg,p_unit,lid
4,4,ETHUSDC,ETH,10.0,10.0,ETH,False,2000.0,3000.0,2000.0,USDC per ETH,5
5,5,ETHUSDC,USDC,0.0,0.0,USDC,True,None,None,None,USDC per ETH,4

In [31]:
o = SimP.add_order("ETH", 10, 2000, 3000, pair="ETH/DAI")["orders"]
assert(o.iloc[0]["pair"]=="ETHDAI")
assert(o.iloc[0]["tkn"]=="ETH")
assert(o.iloc[0]["p_unit"]=="DAI per ETH")
o

,id,pair,tkn,y_int,y,y_unit,disabled,p_start,p_end,p_marg,p_unit,lid
6,6,ETHDAI,ETH,10.0,10.0,ETH,False,2000.0,3000.0,2000.0,DAI per ETH,7
7,7,ETHDAI,DAI,0.0,0.0,DAI,True,None,None,None,DAI per ETH,6

In [32]:
SimP.add_strategy("ETH", 10, 2000, 3000, 10000, 1000, 750)["orders"]

,id,pair,tkn,y_int,y,y_unit,disabled,p_start,p_end,p_marg,p_unit,lid
8,8,ETHUSDC,ETH,10.0,10.0,ETH,False,2000.0,3000.0,2000.0,USDC per ETH,9
9,9,ETHUSDC,USDC,10000.0,10000.0,USDC,False,1000.0,750.0,1000.0,USDC per ETH,8